//
// Written by Synplify Pro 
// Product Version "O-2018.09M-SP1-1"
// Program "Synplify Pro", Mapper "mapact2018q4p1, Build 026R"
// Wed Jan  6 16:36:19 2021
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\generic\igloo2.v "
// file 1 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_test\hdl\sccb_ctrl.v "
// file 6 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_test\component\work\sccb_design\sccb_design.v "
// file 7 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\nlconst.dat "
// file 8 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_test\designer\sccb_design\synthesis.fdc "

`timescale 100 ps/100 ps
module SCCB_CTRL (
  sio_c_c,
  data_send_1z,
  xclk_c,
  idle_i
)
;
output sio_c_c ;
output data_send_1z ;
input xclk_c ;
output idle_i ;
wire sio_c_c ;
wire data_send_1z ;
wire xclk_c ;
wire idle_i ;
wire [7:0] step;
wire [0:0] step_i_0;
wire [5:1] step_3;
wire [7:0] SCCB_CLK_CNT;
wire [7:0] SCCB_CLK_CNT_s;
wire [6:0] SCCB_CLK_CNT_cry;
wire [6:0] SCCB_CLK_CNT_cry_Y;
wire [7:7] SCCB_CLK_CNT_s_FCO;
wire [7:7] SCCB_CLK_CNT_s_Y;
wire SCCB_CLK_Z ;
wire SCCB_CLK_0 ;
wire idle_Z ;
wire VCC ;
wire GND ;
wire un4_step_cry_2_S ;
wire un4_step_cry_3_S ;
wire un4_step_cry_6_S ;
wire un4_step_s_7_S ;
wire data_send_26 ;
wire SCCB_MID_PULSE_Z ;
wire sccb_clk_step_Z ;
wire sccb_clk_step_2_iv_i_Z ;
wire idle_2 ;
wire N_8_i ;
wire N_16_i ;
wire SCCB_CLK_CNT_s_10_FCO ;
wire SCCB_CLK_CNT_s_10_S ;
wire SCCB_CLK_CNT_s_10_Y ;
wire SCCB_CLK_CNT_lcry ;
wire un4_step_s_1_11_FCO ;
wire un4_step_s_1_11_S ;
wire un4_step_s_1_11_Y ;
wire un4_step_cry_1_Z ;
wire un4_step_cry_1_S ;
wire un4_step_cry_1_Y ;
wire un4_step_cry_2_Z ;
wire un4_step_cry_2_Y ;
wire un4_step_cry_3_Z ;
wire un4_step_cry_3_Y ;
wire un4_step_cry_4_Z ;
wire un4_step_cry_4_S ;
wire un4_step_cry_4_Y ;
wire un4_step_cry_5_Z ;
wire un4_step_cry_5_S ;
wire un4_step_cry_5_Y ;
wire un4_step_s_7_FCO ;
wire un4_step_s_7_Y ;
wire un4_step_cry_6_Z ;
wire un4_step_cry_6_Y ;
wire data_send80 ;
wire un1_data_send82_0 ;
wire un1_step_3_i ;
wire un1_data_send42_1_i ;
wire N_26 ;
wire N_53 ;
wire N_52 ;
wire N_48 ;
wire data_send60_0_a2_2_Z ;
wire SCCB_CLK_CNT12lto7_i_a2_3_Z ;
wire SCCB_MID_PULSE4_i_a2_4_Z ;
wire SCCB_MID_PULSE4_i_a2_3_Z ;
wire data_send_26_0_iv_0_a2_1_2_Z ;
wire N_19 ;
wire N_56 ;
wire N_50 ;
wire data_send82 ;
wire data_send40 ;
wire data_send_26_0_iv_0_a2_3_2_Z ;
wire data_send_26_0_iv_0_a2_0_0_Z ;
wire un1_data_send82_2_0_0_Z ;
wire data_send_26_0_iv_0_0_1_Z ;
wire data_send_26_0_iv_0_1_0_Z ;
wire N_26_0 ;
  CLKINT SCCB_CLK_inferred_clock_RNIPQ8 (
	.Y(SCCB_CLK_Z),
	.A(SCCB_CLK_0)
);
  CFG1 idle_RNIAA0D (
	.A(idle_Z),
	.Y(idle_i)
);
defparam idle_RNIAA0D.INIT=2'h1;
  CFG1 \step_RNO[0]  (
	.A(step[0]),
	.Y(step_i_0[0])
);
defparam \step_RNO[0] .INIT=2'h1;
// @5:106
  SLE \step[0]  (
	.Q(step[0]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(step_i_0[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:106
  SLE \step[1]  (
	.Q(step[1]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(step_3[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:106
  SLE \step[2]  (
	.Q(step[2]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(un4_step_cry_2_S),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:106
  SLE \step[3]  (
	.Q(step[3]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(un4_step_cry_3_S),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:106
  SLE \step[4]  (
	.Q(step[4]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(step_3[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:106
  SLE \step[5]  (
	.Q(step[5]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(step_3[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:106
  SLE \step[6]  (
	.Q(step[6]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(un4_step_cry_6_S),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:106
  SLE \step[7]  (
	.Q(step[7]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(un4_step_s_7_S),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:120
  SLE data_send (
	.Q(data_send_1z),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(SCCB_CLK_Z),
	.D(data_send_26),
	.EN(SCCB_MID_PULSE_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:120
  SLE sccb_clk_step (
	.Q(sccb_clk_step_Z),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(SCCB_CLK_Z),
	.D(sccb_clk_step_2_iv_i_Z),
	.EN(SCCB_MID_PULSE_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:120
  SLE idle (
	.Q(idle_Z),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(SCCB_CLK_Z),
	.D(idle_2),
	.EN(SCCB_MID_PULSE_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE SCCB_CLK (
	.Q(SCCB_CLK_0),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(N_8_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE SCCB_MID_PULSE (
	.Q(SCCB_MID_PULSE_Z),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(N_16_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE \SCCB_CLK_CNT[0]  (
	.Q(SCCB_CLK_CNT[0]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNT_s[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE \SCCB_CLK_CNT[1]  (
	.Q(SCCB_CLK_CNT[1]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNT_s[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE \SCCB_CLK_CNT[2]  (
	.Q(SCCB_CLK_CNT[2]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNT_s[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE \SCCB_CLK_CNT[3]  (
	.Q(SCCB_CLK_CNT[3]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNT_s[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE \SCCB_CLK_CNT[4]  (
	.Q(SCCB_CLK_CNT[4]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNT_s[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE \SCCB_CLK_CNT[5]  (
	.Q(SCCB_CLK_CNT[5]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNT_s[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE \SCCB_CLK_CNT[6]  (
	.Q(SCCB_CLK_CNT[6]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNT_s[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  SLE \SCCB_CLK_CNT[7]  (
	.Q(SCCB_CLK_CNT[7]),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNT_s[7]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @5:70
  ARI1 SCCB_CLK_CNT_s_10 (
	.FCO(SCCB_CLK_CNT_s_10_FCO),
	.S(SCCB_CLK_CNT_s_10_S),
	.Y(SCCB_CLK_CNT_s_10_Y),
	.B(SCCB_CLK_CNT_lcry),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(VCC)
);
defparam SCCB_CLK_CNT_s_10.INIT=20'h4AA00;
// @5:70
  ARI1 \SCCB_CLK_CNT_cry[0]  (
	.FCO(SCCB_CLK_CNT_cry[0]),
	.S(SCCB_CLK_CNT_s[0]),
	.Y(SCCB_CLK_CNT_cry_Y[0]),
	.B(SCCB_CLK_CNT[0]),
	.C(SCCB_CLK_CNT_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNT_s_10_FCO)
);
defparam \SCCB_CLK_CNT_cry[0] .INIT=20'h48800;
// @5:70
  ARI1 \SCCB_CLK_CNT_cry[1]  (
	.FCO(SCCB_CLK_CNT_cry[1]),
	.S(SCCB_CLK_CNT_s[1]),
	.Y(SCCB_CLK_CNT_cry_Y[1]),
	.B(SCCB_CLK_CNT[1]),
	.C(SCCB_CLK_CNT_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNT_cry[0])
);
defparam \SCCB_CLK_CNT_cry[1] .INIT=20'h48800;
// @5:70
  ARI1 \SCCB_CLK_CNT_cry[2]  (
	.FCO(SCCB_CLK_CNT_cry[2]),
	.S(SCCB_CLK_CNT_s[2]),
	.Y(SCCB_CLK_CNT_cry_Y[2]),
	.B(SCCB_CLK_CNT[2]),
	.C(SCCB_CLK_CNT_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNT_cry[1])
);
defparam \SCCB_CLK_CNT_cry[2] .INIT=20'h48800;
// @5:70
  ARI1 \SCCB_CLK_CNT_cry[3]  (
	.FCO(SCCB_CLK_CNT_cry[3]),
	.S(SCCB_CLK_CNT_s[3]),
	.Y(SCCB_CLK_CNT_cry_Y[3]),
	.B(SCCB_CLK_CNT[3]),
	.C(SCCB_CLK_CNT_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNT_cry[2])
);
defparam \SCCB_CLK_CNT_cry[3] .INIT=20'h48800;
// @5:70
  ARI1 \SCCB_CLK_CNT_cry[4]  (
	.FCO(SCCB_CLK_CNT_cry[4]),
	.S(SCCB_CLK_CNT_s[4]),
	.Y(SCCB_CLK_CNT_cry_Y[4]),
	.B(SCCB_CLK_CNT[4]),
	.C(SCCB_CLK_CNT_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNT_cry[3])
);
defparam \SCCB_CLK_CNT_cry[4] .INIT=20'h48800;
// @5:70
  ARI1 \SCCB_CLK_CNT_cry[5]  (
	.FCO(SCCB_CLK_CNT_cry[5]),
	.S(SCCB_CLK_CNT_s[5]),
	.Y(SCCB_CLK_CNT_cry_Y[5]),
	.B(SCCB_CLK_CNT[5]),
	.C(SCCB_CLK_CNT_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNT_cry[4])
);
defparam \SCCB_CLK_CNT_cry[5] .INIT=20'h48800;
// @5:70
  ARI1 \SCCB_CLK_CNT_s[7]  (
	.FCO(SCCB_CLK_CNT_s_FCO[7]),
	.S(SCCB_CLK_CNT_s[7]),
	.Y(SCCB_CLK_CNT_s_Y[7]),
	.B(SCCB_CLK_CNT[7]),
	.C(SCCB_CLK_CNT_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNT_cry[6])
);
defparam \SCCB_CLK_CNT_s[7] .INIT=20'h48800;
// @5:70
  ARI1 \SCCB_CLK_CNT_cry[6]  (
	.FCO(SCCB_CLK_CNT_cry[6]),
	.S(SCCB_CLK_CNT_s[6]),
	.Y(SCCB_CLK_CNT_cry_Y[6]),
	.B(SCCB_CLK_CNT[6]),
	.C(SCCB_CLK_CNT_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNT_cry[5])
);
defparam \SCCB_CLK_CNT_cry[6] .INIT=20'h48800;
// @5:117
  ARI1 un4_step_s_1_11 (
	.FCO(un4_step_s_1_11_FCO),
	.S(un4_step_s_1_11_S),
	.Y(un4_step_s_1_11_Y),
	.B(step[0]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(VCC)
);
defparam un4_step_s_1_11.INIT=20'h4AA00;
// @5:117
  ARI1 un4_step_cry_1 (
	.FCO(un4_step_cry_1_Z),
	.S(un4_step_cry_1_S),
	.Y(un4_step_cry_1_Y),
	.B(step[1]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(un4_step_s_1_11_FCO)
);
defparam un4_step_cry_1.INIT=20'h4AA00;
// @5:117
  ARI1 un4_step_cry_2 (
	.FCO(un4_step_cry_2_Z),
	.S(un4_step_cry_2_S),
	.Y(un4_step_cry_2_Y),
	.B(step[2]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(un4_step_cry_1_Z)
);
defparam un4_step_cry_2.INIT=20'h4AA00;
// @5:117
  ARI1 un4_step_cry_3 (
	.FCO(un4_step_cry_3_Z),
	.S(un4_step_cry_3_S),
	.Y(un4_step_cry_3_Y),
	.B(step[3]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(un4_step_cry_2_Z)
);
defparam un4_step_cry_3.INIT=20'h4AA00;
// @5:117
  ARI1 un4_step_cry_4 (
	.FCO(un4_step_cry_4_Z),
	.S(un4_step_cry_4_S),
	.Y(un4_step_cry_4_Y),
	.B(step[4]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(un4_step_cry_3_Z)
);
defparam un4_step_cry_4.INIT=20'h4AA00;
// @5:117
  ARI1 un4_step_cry_5 (
	.FCO(un4_step_cry_5_Z),
	.S(un4_step_cry_5_S),
	.Y(un4_step_cry_5_Y),
	.B(step[5]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(un4_step_cry_4_Z)
);
defparam un4_step_cry_5.INIT=20'h4AA00;
// @5:117
  ARI1 un4_step_s_7 (
	.FCO(un4_step_s_7_FCO),
	.S(un4_step_s_7_S),
	.Y(un4_step_s_7_Y),
	.B(step[7]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(un4_step_cry_6_Z)
);
defparam un4_step_s_7.INIT=20'h4AA00;
// @5:117
  ARI1 un4_step_cry_6 (
	.FCO(un4_step_cry_6_Z),
	.S(un4_step_cry_6_S),
	.Y(un4_step_cry_6_Y),
	.B(step[6]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(un4_step_cry_5_Z)
);
defparam un4_step_cry_6.INIT=20'h4AA00;
// @5:130
  CFG3 un1_data_send42_1_0_0 (
	.A(data_send80),
	.B(un1_data_send82_0),
	.C(un1_step_3_i),
	.Y(un1_data_send42_1_i)
);
defparam un1_data_send42_1_0_0.INIT=8'hFB;
// @5:130
  CFG2 un1_data_send42_1_0_o2 (
	.A(data_send80),
	.B(un1_data_send82_0),
	.Y(N_26)
);
defparam un1_data_send42_1_0_o2.INIT=4'hB;
// @5:161
  CFG2 data_send60_0_a3 (
	.A(step[3]),
	.B(step[5]),
	.Y(N_53)
);
defparam data_send60_0_a3.INIT=4'h1;
// @5:194
  CFG2 data_send82_0_a3_0 (
	.A(step[3]),
	.B(step[5]),
	.Y(N_52)
);
defparam data_send82_0_a3_0.INIT=4'h8;
// @5:132
  CFG2 un1_data_send82_2_0_a3 (
	.A(step[6]),
	.B(step[7]),
	.Y(N_48)
);
defparam un1_data_send82_2_0_a3.INIT=4'h1;
// @5:103
  CFG3 SIO_C_i_m2 (
	.A(sccb_clk_step_Z),
	.B(idle_Z),
	.C(SCCB_CLK_Z),
	.Y(sio_c_c)
);
defparam SIO_C_i_m2.INIT=8'hB8;
// @5:161
  CFG4 data_send60_0_a2_2 (
	.A(step[2]),
	.B(step[4]),
	.C(step[1]),
	.D(step[0]),
	.Y(data_send60_0_a2_2_Z)
);
defparam data_send60_0_a2_2.INIT=16'h0008;
// @5:75
  CFG4 SCCB_CLK_CNT12lto7_i_a2_3 (
	.A(SCCB_CLK_CNT[6]),
	.B(SCCB_CLK_CNT[5]),
	.C(SCCB_CLK_CNT[2]),
	.D(SCCB_CLK_CNT[1]),
	.Y(SCCB_CLK_CNT12lto7_i_a2_3_Z)
);
defparam SCCB_CLK_CNT12lto7_i_a2_3.INIT=16'h8880;
// @5:81
  CFG4 SCCB_MID_PULSE4_i_a2_4 (
	.A(SCCB_CLK_CNT[7]),
	.B(SCCB_CLK_CNT[6]),
	.C(SCCB_CLK_CNT[2]),
	.D(SCCB_CLK_CNT[1]),
	.Y(SCCB_MID_PULSE4_i_a2_4_Z)
);
defparam SCCB_MID_PULSE4_i_a2_4.INIT=16'h0001;
// @5:81
  CFG4 SCCB_MID_PULSE4_i_a2_3 (
	.A(SCCB_CLK_CNT[4]),
	.B(SCCB_CLK_CNT[3]),
	.C(SCCB_CLK_CNT[0]),
	.D(SCCB_CLK_CNT[5]),
	.Y(SCCB_MID_PULSE4_i_a2_3_Z)
);
defparam SCCB_MID_PULSE4_i_a2_3.INIT=16'h0001;
// @5:130
  CFG4 data_send_26_0_iv_0_a2_1_2 (
	.A(step[4]),
	.B(step[3]),
	.C(step[2]),
	.D(step[1]),
	.Y(data_send_26_0_iv_0_a2_1_2_Z)
);
defparam data_send_26_0_iv_0_a2_1_2.INIT=16'h8000;
// @5:75
  CFG4 SCCB_CLK_CNT12lto7_i_a2 (
	.A(SCCB_CLK_CNT[7]),
	.B(SCCB_CLK_CNT[4]),
	.C(SCCB_CLK_CNT[3]),
	.D(SCCB_CLK_CNT12lto7_i_a2_3_Z),
	.Y(SCCB_CLK_CNT_lcry)
);
defparam SCCB_CLK_CNT12lto7_i_a2.INIT=16'h7FFF;
// @5:130
  CFG3 un1_data_send42_1_0_o2_0 (
	.A(step[5]),
	.B(step[2]),
	.C(step[0]),
	.Y(N_19)
);
defparam un1_data_send42_1_0_o2_0.INIT=8'h81;
// @5:132
  CFG3 un1_data_send82_2_0_a2_1 (
	.A(step[4]),
	.B(step[3]),
	.C(N_48),
	.Y(N_56)
);
defparam un1_data_send82_2_0_a2_1.INIT=8'h10;
// @5:194
  CFG3 data_send82_0_a3 (
	.A(step[4]),
	.B(step[2]),
	.C(N_48),
	.Y(N_50)
);
defparam data_send82_0_a3.INIT=8'h10;
// @5:120
  CFG3 sccb_clk_step_2_iv_i (
	.A(un1_step_3_i),
	.B(un1_data_send42_1_i),
	.C(sccb_clk_step_Z),
	.Y(sccb_clk_step_2_iv_i_Z)
);
defparam sccb_clk_step_2_iv_i.INIT=8'h54;
// @5:130
  CFG4 idle_2_f0 (
	.A(data_send82),
	.B(un1_data_send82_0),
	.C(idle_Z),
	.D(data_send40),
	.Y(idle_2)
);
defparam idle_2_f0.INIT=16'h00FB;
// @5:108
  CFG4 \step_3[5]  (
	.A(un4_step_cry_5_S),
	.B(N_48),
	.C(data_send60_0_a2_2_Z),
	.D(N_53),
	.Y(step_3[5])
);
defparam \step_3[5] .INIT=16'hEAAA;
// @5:108
  CFG4 \step_3[4]  (
	.A(un4_step_cry_4_S),
	.B(N_48),
	.C(data_send60_0_a2_2_Z),
	.D(N_53),
	.Y(step_3[4])
);
defparam \step_3[4] .INIT=16'h2AAA;
// @5:108
  CFG4 \step_3[1]  (
	.A(un4_step_cry_1_S),
	.B(N_48),
	.C(data_send60_0_a2_2_Z),
	.D(N_53),
	.Y(step_3[1])
);
defparam \step_3[1] .INIT=16'hEAAA;
// @5:130
  CFG4 data_send_26_0_iv_0_a2_3_2 (
	.A(step[3]),
	.B(step[1]),
	.C(step[0]),
	.D(N_50),
	.Y(data_send_26_0_iv_0_a2_3_2_Z)
);
defparam data_send_26_0_iv_0_a2_3_2.INIT=16'h0400;
// @5:130
  CFG4 data_send_26_0_iv_0_a2_0_0 (
	.A(step[1]),
	.B(N_53),
	.C(N_52),
	.D(N_50),
	.Y(data_send_26_0_iv_0_a2_0_0_Z)
);
defparam data_send_26_0_iv_0_a2_0_0.INIT=16'h5400;
// @5:132
  CFG4 un1_data_send82_2_0_0 (
	.A(step[5]),
	.B(step[1]),
	.C(N_50),
	.D(N_48),
	.Y(un1_data_send82_2_0_0_Z)
);
defparam un1_data_send82_2_0_0.INIT=16'h7530;
// @5:194
  CFG4 data_send82_0_a2 (
	.A(step[1]),
	.B(step[0]),
	.C(N_52),
	.D(N_50),
	.Y(data_send82)
);
defparam data_send82_0_a2.INIT=16'h2000;
// @5:130
  CFG3 un1_data_send42_1_0_a2 (
	.A(step[1]),
	.B(N_56),
	.C(N_19),
	.Y(un1_step_3_i)
);
defparam un1_data_send42_1_0_a2.INIT=8'h80;
// @5:70
  CFG3 SCCB_MID_PULSE_RNO (
	.A(SCCB_MID_PULSE4_i_a2_3_Z),
	.B(SCCB_CLK_Z),
	.C(SCCB_MID_PULSE4_i_a2_4_Z),
	.Y(N_16_i)
);
defparam SCCB_MID_PULSE_RNO.INIT=8'h13;
// @5:70
  CFG2 SCCB_CLK_RNO (
	.A(SCCB_CLK_CNT_lcry),
	.B(SCCB_CLK_0),
	.Y(N_8_i)
);
defparam SCCB_CLK_RNO.INIT=4'h9;
// @5:190
  CFG4 data_send80_0_a2 (
	.A(step[1]),
	.B(step[0]),
	.C(N_52),
	.D(N_50),
	.Y(data_send80)
);
defparam data_send80_0_a2.INIT=16'h1000;
// @5:132
  CFG4 data_send40_0_a2 (
	.A(step[1]),
	.B(step[0]),
	.C(N_53),
	.D(N_50),
	.Y(data_send40)
);
defparam data_send40_0_a2.INIT=16'h1000;
// @5:130
  CFG4 data_send_26_0_iv_0_0_1 (
	.A(N_56),
	.B(data_send_1z),
	.C(step[5]),
	.D(data_send_26_0_iv_0_a2_1_2_Z),
	.Y(data_send_26_0_iv_0_0_1_Z)
);
defparam data_send_26_0_iv_0_0_1.INIT=16'hCC80;
// @5:130
  CFG4 data_send_26_0_iv_0_1_0 (
	.A(N_26),
	.B(data_send_1z),
	.C(data_send_26_0_iv_0_a2_3_2_Z),
	.D(data_send82),
	.Y(data_send_26_0_iv_0_1_0_Z)
);
defparam data_send_26_0_iv_0_1_0.INIT=16'hCCC8;
// @5:132
  CFG4 un1_data_send82_2_0 (
	.A(un1_data_send82_2_0_0_Z),
	.B(data_send82),
	.C(data_send80),
	.D(N_56),
	.Y(un1_data_send82_0)
);
defparam un1_data_send82_2_0.INIT=16'hFFFE;
// @5:130
  CFG4 data_send_26_0_iv_0_0 (
	.A(step[0]),
	.B(data_send_26_0_iv_0_a2_0_0_Z),
	.C(data_send_26_0_iv_0_1_0_Z),
	.D(data_send_26_0_iv_0_0_1_Z),
	.Y(data_send_26)
);
defparam data_send_26_0_iv_0_0.INIT=16'hFFF8;
//@6:60
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* SCCB_CTRL */

module sccb_design (
  xclk,
  sio_c,
  sio_d
)
;
input xclk ;
output sio_c ;
output sio_d ;
wire xclk ;
wire sio_c ;
wire sio_d ;
wire VCC ;
wire GND ;
wire data_send ;
wire xclk_c ;
wire sio_c_c ;
wire \SCCB_CTRL_0.idle_i  ;
wire xclk_ibuf_Z ;
  CLKINT xclk_ibuf_RNIN1HC (
	.Y(xclk_c),
	.A(xclk_ibuf_Z)
);
// @6:21
  INBUF xclk_ibuf (
	.Y(xclk_ibuf_Z),
	.PAD(xclk)
);
// @6:25
  OUTBUF sio_c_obuf (
	.PAD(sio_c),
	.D(sio_c_c)
);
// @6:29
  TRIBUFF sio_d_obuft (
	.PAD(sio_d),
	.D(data_send),
	.E(\SCCB_CTRL_0.idle_i )
);
// @6:60
  SCCB_CTRL SCCB_CTRL_0 (
	.sio_c_c(sio_c_c),
	.data_send_1z(data_send),
	.xclk_c(xclk_c),
	.idle_i(\SCCB_CTRL_0.idle_i )
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sccb_design */

