//
// Written by Synplify Pro 
// Product Version "O-2018.09M-SP1-1"
// Program "Synplify Pro", Mapper "mapact2018q4p1, Build 026R"
// Sat Jan 30 22:33:03 2021
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\generic\igloo2.v "
// file 1 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\component\work\fccc_c0\fccc_c0_0\fccc_c0_fccc_c0_0_fccc.v "
// file 6 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\component\work\fccc_c0\fccc_c0.v "
// file 7 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\component\actel\sgcore\osc\2.0.101\osc_comps.v "
// file 8 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\component\work\osc_c0\osc_c0_0\osc_c0_osc_c0_0_osc.v "
// file 9 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\component\work\osc_c0\osc_c0.v "
// file 10 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\hdl\coresccb.v "
// file 11 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\hdl\config_sccb.v "
// file 12 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\component\work\sccb_design\sccb_design.v "
// file 13 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\nlconst.dat "
// file 14 "\c:\users\cheec\desktop\masters\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_fpga_design\designer\sccb_design\synthesis.fdc "

`timescale 100 ps/100 ps
module FCCC_C0_FCCC_C0_0_FCCC (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC,
  FCCC_C0_0_LOCK,
  xclk_c
)
;
input OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
output FCCC_C0_0_LOCK ;
output xclk_c ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire FCCC_C0_0_LOCK ;
wire xclk_c ;
wire [7:0] PRDATA;
wire GL0_net ;
wire Y0 ;
wire Y1 ;
wire Y2 ;
wire Y3 ;
wire BUSY ;
wire VCC ;
wire GND ;
wire GL1 ;
wire GL2 ;
wire GL3 ;
// @5:18
  CLKINT GL0_INST (
	.Y(xclk_c),
	.A(GL0_net)
);
//@6:57
// @5:20
  CCC CCC_INST (
	.Y0(Y0),
	.Y1(Y1),
	.Y2(Y2),
	.Y3(Y3),
	.PRDATA(PRDATA[7:0]),
	.LOCK(FCCC_C0_0_LOCK),
	.BUSY(BUSY),
	.CLK0(VCC),
	.CLK1(VCC),
	.CLK2(VCC),
	.CLK3(VCC),
	.NGMUX0_SEL(GND),
	.NGMUX1_SEL(GND),
	.NGMUX2_SEL(GND),
	.NGMUX3_SEL(GND),
	.NGMUX0_HOLD_N(VCC),
	.NGMUX1_HOLD_N(VCC),
	.NGMUX2_HOLD_N(VCC),
	.NGMUX3_HOLD_N(VCC),
	.NGMUX0_ARST_N(VCC),
	.NGMUX1_ARST_N(VCC),
	.NGMUX2_ARST_N(VCC),
	.NGMUX3_ARST_N(VCC),
	.PLL_BYPASS_N(VCC),
	.PLL_ARST_N(VCC),
	.PLL_POWERDOWN_N(VCC),
	.GPD0_ARST_N(VCC),
	.GPD1_ARST_N(VCC),
	.GPD2_ARST_N(VCC),
	.GPD3_ARST_N(VCC),
	.PRESET_N(GND),
	.PCLK(VCC),
	.PSEL(VCC),
	.PENABLE(VCC),
	.PWRITE(VCC),
	.PADDR({VCC, VCC, VCC, VCC, VCC, VCC}),
	.PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.CLK0_PAD(GND),
	.CLK1_PAD(GND),
	.CLK2_PAD(GND),
	.CLK3_PAD(GND),
	.GL0(GL0_net),
	.GL1(GL1),
	.GL2(GL2),
	.GL3(GL3),
	.RCOSC_25_50MHZ(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.RCOSC_1MHZ(GND),
	.XTLOSC(GND)
);
defparam CCC_INST.INIT=210'h0000007F90000045574000318C6318C1F18C61EC0404040400B18;
defparam CCC_INST.VCOFREQUENCY=768.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* FCCC_C0_FCCC_C0_0_FCCC */

module FCCC_C0 (
  xclk_c,
  FCCC_C0_0_LOCK,
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output xclk_c ;
output FCCC_C0_0_LOCK ;
input OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire xclk_c ;
wire FCCC_C0_0_LOCK ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @6:57
  FCCC_C0_FCCC_C0_0_FCCC FCCC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.FCCC_C0_0_LOCK(FCCC_C0_0_LOCK),
	.xclk_c(xclk_c)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* FCCC_C0 */

module OSC_C0_OSC_C0_0_OSC (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @8:23
  RCOSC_25_50MHZ I_RCOSC_25_50MHZ (
	.CLKOUT(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
defparam I_RCOSC_25_50MHZ.FREQUENCY=50.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* OSC_C0_OSC_C0_0_OSC */

module OSC_C0 (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @9:40
  OSC_C0_OSC_C0_0_OSC OSC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* OSC_C0 */

module CoreSCCB (
  SCCB_CLK_CNTR,
  ip_addr_0,
  i8_mux,
  N_24_i_0,
  N_1_i_1z,
  SCCB_MID_PULSE5,
  SCCB_CLK,
  start,
  SCCB_CLK_CNTR_lcry,
  i14_i,
  done_i,
  SCCB_MID_PULSE,
  xclk_c,
  AND2_0_Y_arst,
  SIO_DO_1_i
)
;
input [5:0] SCCB_CLK_CNTR ;
input ip_addr_0 ;
output i8_mux ;
output N_24_i_0 ;
output N_1_i_1z ;
output SCCB_MID_PULSE5 ;
input SCCB_CLK ;
input start ;
output SCCB_CLK_CNTR_lcry ;
input i14_i ;
output done_i ;
input SCCB_MID_PULSE ;
input xclk_c ;
input AND2_0_Y_arst ;
output SIO_DO_1_i ;
wire ip_addr_0 ;
wire i8_mux ;
wire N_24_i_0 ;
wire N_1_i_1z ;
wire SCCB_MID_PULSE5 ;
wire SCCB_CLK ;
wire start ;
wire SCCB_CLK_CNTR_lcry ;
wire i14_i ;
wire done_i ;
wire SCCB_MID_PULSE ;
wire xclk_c ;
wire AND2_0_Y_arst ;
wire SIO_DO_1_i ;
wire [5:0] step;
wire [5:0] step_lm;
wire [4:1] step_cry;
wire [5:1] step_s;
wire [4:1] step_cry_Y;
wire [5:5] step_s_FCO;
wire [5:5] step_s_Y;
wire [1:1] step_RNIDOE2;
wire [0:0] step_RNI1F9B1;
wire SIO_DO_1 ;
wire sccb_clk_step_Z ;
wire GND ;
wire sccb_clk_step_3_iv_i_Z ;
wire VCC ;
wire data_send_Z ;
wire N_131_mux_i ;
wire done_3 ;
wire step_s_11_FCO ;
wire step_s_11_S ;
wire step_s_11_Y ;
wire N_17_0 ;
wire m22_1_0 ;
wire N_27_0 ;
wire m34_1_1 ;
wire N_35 ;
wire N_32_0 ;
wire N_28_0 ;
wire data_send96 ;
wire N_19_0 ;
wire N_125_mux ;
wire data_send_RNO_6_Z ;
wire m41_2_1 ;
wire N_42_0 ;
wire N_38_0 ;
wire N_101_mux ;
wire N_109 ;
wire N_60_0 ;
wire N_61_0 ;
wire N_13_i_0 ;
wire data_send117 ;
wire m54_0 ;
wire m51_0 ;
wire N_7_0 ;
wire m85_2 ;
wire m81_2_Z ;
wire N_107 ;
wire un1_ip_addr_1_i ;
wire data_send81 ;
wire N_8_mux ;
wire N_48_0 ;
wire N_24_0_i ;
wire N_46_0 ;
wire N_49_0 ;
wire N_44_i ;
wire N_130_mux ;
wire N_16 ;
  CFG1 \step_RNIQ2KF_0[5]  (
	.A(SIO_DO_1),
	.Y(SIO_DO_1_i)
);
defparam \step_RNIQ2KF_0[5] .INIT=2'h1;
// @10:45
  SLE sccb_clk_step (
	.Q(sccb_clk_step_Z),
	.ADn(GND),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(sccb_clk_step_3_iv_i_Z),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE data_send (
	.Q(data_send_Z),
	.ADn(GND),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(N_131_mux_i),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE done (
	.Q(done_i),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(done_3),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \step[0]  (
	.Q(step[0]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[0]),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \step[1]  (
	.Q(step[1]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[1]),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \step[2]  (
	.Q(step[2]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[2]),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \step[3]  (
	.Q(step[3]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[3]),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \step[4]  (
	.Q(step[4]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[4]),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  SLE \step[5]  (
	.Q(step[5]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[5]),
	.EN(SCCB_MID_PULSE),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:45
  ARI1 step_s_11 (
	.FCO(step_s_11_FCO),
	.S(step_s_11_S),
	.Y(step_s_11_Y),
	.B(step[0]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(VCC)
);
defparam step_s_11.INIT=20'h4AA00;
// @10:45
  ARI1 \step_cry[1]  (
	.FCO(step_cry[1]),
	.S(step_s[1]),
	.Y(step_cry_Y[1]),
	.B(step[1]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_s_11_FCO)
);
defparam \step_cry[1] .INIT=20'h4AA00;
// @10:45
  ARI1 \step_cry[2]  (
	.FCO(step_cry[2]),
	.S(step_s[2]),
	.Y(step_cry_Y[2]),
	.B(step[2]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[1])
);
defparam \step_cry[2] .INIT=20'h4AA00;
// @10:45
  ARI1 \step_cry[3]  (
	.FCO(step_cry[3]),
	.S(step_s[3]),
	.Y(step_cry_Y[3]),
	.B(step[3]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[2])
);
defparam \step_cry[3] .INIT=20'h4AA00;
// @10:45
  ARI1 \step_s[5]  (
	.FCO(step_s_FCO[5]),
	.S(step_s[5]),
	.Y(step_s_Y[5]),
	.B(step[5]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[4])
);
defparam \step_s[5] .INIT=20'h4AA00;
// @10:45
  ARI1 \step_cry[4]  (
	.FCO(step_cry[4]),
	.S(step_s[4]),
	.Y(step_cry_Y[4]),
	.B(step[4]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[3])
);
defparam \step_cry[4] .INIT=20'h4AA00;
  CFG4 N_107_mux_i (
	.A(SCCB_CLK_CNTR[3]),
	.B(SCCB_CLK_CNTR[4]),
	.C(SCCB_CLK_CNTR[5]),
	.D(i14_i),
	.Y(SCCB_CLK_CNTR_lcry)
);
defparam N_107_mux_i.INIT=16'h7FFF;
  CFG4 sccb_clk_step_3_iv_i_RNO_1 (
	.A(step[5]),
	.B(step[3]),
	.C(step[4]),
	.D(N_17_0),
	.Y(m22_1_0)
);
defparam sccb_clk_step_3_iv_i_RNO_1.INIT=16'hDDDF;
  CFG4 \step_RNI0FRN[3]  (
	.A(step[3]),
	.B(step[4]),
	.C(N_27_0),
	.D(m34_1_1),
	.Y(N_35)
);
defparam \step_RNI0FRN[3] .INIT=16'h3254;
  CFG4 \step_RNI525D[4]  (
	.A(step[4]),
	.B(ip_addr_0),
	.C(N_32_0),
	.D(N_28_0),
	.Y(m34_1_1)
);
defparam \step_RNI525D[4] .INIT=16'h26AE;
  CFG4 sccb_clk_step_3_iv_i_RNO_0 (
	.A(step[4]),
	.B(m22_1_0),
	.C(data_send96),
	.D(N_19_0),
	.Y(N_125_mux)
);
defparam sccb_clk_step_3_iv_i_RNO_0.INIT=16'h0C0E;
  CFG4 data_send_RNO_3 (
	.A(step[3]),
	.B(step[2]),
	.C(data_send_RNO_6_Z),
	.D(m41_2_1),
	.Y(N_42_0)
);
defparam data_send_RNO_3.INIT=16'hD072;
  CFG3 data_send_RNO_7 (
	.A(step[2]),
	.B(step[0]),
	.C(step[1]),
	.Y(m41_2_1)
);
defparam data_send_RNO_7.INIT=8'h1D;
  CFG4 data_send_RNO_6 (
	.A(step[3]),
	.B(step[4]),
	.C(N_38_0),
	.D(N_101_mux),
	.Y(data_send_RNO_6_Z)
);
defparam data_send_RNO_6.INIT=16'hDC98;
  CFG3 \step_RNI0FHD[5]  (
	.A(step[5]),
	.B(N_109),
	.C(N_60_0),
	.Y(N_61_0)
);
defparam \step_RNI0FHD[5] .INIT=8'hF1;
  CFG2 data_send_RNO_1 (
	.A(N_13_i_0),
	.B(data_send117),
	.Y(m54_0)
);
defparam data_send_RNO_1.INIT=4'h1;
  CFG2 data_send_RNO_5 (
	.A(data_send96),
	.B(start),
	.Y(m51_0)
);
defparam data_send_RNO_5.INIT=4'h4;
  CFG2 \step_RNIHSE2[3]  (
	.A(step[4]),
	.B(step[3]),
	.Y(N_109)
);
defparam \step_RNIHSE2[3] .INIT=4'h1;
  CFG2 \step_RNIDOE2[1]  (
	.A(step[2]),
	.B(step[1]),
	.Y(step_RNIDOE2[1])
);
defparam \step_RNIDOE2[1] .INIT=4'h8;
  CFG2 done_RNIIJIG (
	.A(start),
	.B(done_i),
	.Y(N_7_0)
);
defparam done_RNIIJIG.INIT=4'h2;
  CFG4 \step_RNIJP78[5]  (
	.A(step[5]),
	.B(ip_addr_0),
	.C(step[4]),
	.D(step[3]),
	.Y(m85_2)
);
defparam \step_RNIJP78[5] .INIT=16'h1000;
  CFG3 m81_2 (
	.A(SCCB_CLK_CNTR[2]),
	.B(SCCB_CLK_CNTR[1]),
	.C(SCCB_CLK),
	.Y(m81_2_Z)
);
defparam m81_2.INIT=8'h04;
  CFG3 \step_RNI23M3_1[1]  (
	.A(step[2]),
	.B(step[0]),
	.C(step[1]),
	.Y(N_101_mux)
);
defparam \step_RNI23M3_1[1] .INIT=8'h08;
  CFG3 m73_e (
	.A(SCCB_CLK_CNTR[5]),
	.B(SCCB_CLK_CNTR[4]),
	.C(SCCB_CLK_CNTR[3]),
	.Y(N_107)
);
defparam m73_e.INIT=8'h80;
  CFG3 done_RNO (
	.A(done_i),
	.B(start),
	.C(data_send117),
	.Y(done_3)
);
defparam done_RNO.INIT=8'hC8;
  CFG2 \step_RNI23M3[0]  (
	.A(step_RNIDOE2[1]),
	.B(step[0]),
	.Y(N_19_0)
);
defparam \step_RNI23M3[0] .INIT=4'h8;
  CFG3 \step_RNI23M3_2[1]  (
	.A(step[2]),
	.B(step[0]),
	.C(step[1]),
	.Y(N_17_0)
);
defparam \step_RNI23M3_2[1] .INIT=8'h01;
  CFG3 \step_RNI23M3[1]  (
	.A(step[2]),
	.B(step[0]),
	.C(step[1]),
	.Y(N_32_0)
);
defparam \step_RNI23M3[1] .INIT=8'h57;
  CFG3 \step_RNI23M3_0[1]  (
	.A(step[2]),
	.B(step[0]),
	.C(step[1]),
	.Y(N_28_0)
);
defparam \step_RNI23M3_0[1] .INIT=8'h53;
  CFG4 \step_RNIAG78[1]  (
	.A(ip_addr_0),
	.B(step[1]),
	.C(step[2]),
	.D(step[0]),
	.Y(N_27_0)
);
defparam \step_RNIAG78[1] .INIT=16'h2383;
  CFG4 \step_RNI1F9B1[0]  (
	.A(N_7_0),
	.B(un1_ip_addr_1_i),
	.C(data_send81),
	.D(N_13_i_0),
	.Y(step_RNI1F9B1[0])
);
defparam \step_RNI1F9B1[0] .INIT=16'h0002;
  CFG4 \step_RNIDFC7_0[5]  (
	.A(step[5]),
	.B(step[3]),
	.C(step[4]),
	.D(N_101_mux),
	.Y(data_send81)
);
defparam \step_RNIDFC7_0[5] .INIT=16'h1000;
  CFG3 \step_RNILSTB[0]  (
	.A(step[0]),
	.B(m85_2),
	.C(step_RNIDOE2[1]),
	.Y(un1_ip_addr_1_i)
);
defparam \step_RNILSTB[0] .INIT=8'h40;
  CFG4 \step_RNIDFC7[5]  (
	.A(step[5]),
	.B(step[3]),
	.C(step[4]),
	.D(N_17_0),
	.Y(data_send117)
);
defparam \step_RNIDFC7[5] .INIT=16'h8000;
  CFG4 \step_RNIDFC7_1[5]  (
	.A(step[5]),
	.B(step[3]),
	.C(step[4]),
	.D(N_17_0),
	.Y(N_13_i_0)
);
defparam \step_RNIDFC7_1[5] .INIT=16'h0080;
  CFG4 \step_RNIJV46[1]  (
	.A(step[2]),
	.B(step[1]),
	.C(N_109),
	.D(step[0]),
	.Y(data_send96)
);
defparam \step_RNIJV46[1] .INIT=16'h4000;
  CFG4 \step_RNIFMTB[3]  (
	.A(ip_addr_0),
	.B(step[3]),
	.C(N_19_0),
	.D(step_RNIDOE2[1]),
	.Y(N_8_mux)
);
defparam \step_RNIFMTB[3] .INIT=16'hCD23;
  CFG4 data_send_RNO_10 (
	.A(ip_addr_0),
	.B(step[1]),
	.C(step[2]),
	.D(step[0]),
	.Y(N_38_0)
);
defparam data_send_RNO_10.INIT=16'h2380;
  CFG4 data_send_RNO_8 (
	.A(step[0]),
	.B(step[4]),
	.C(step[1]),
	.D(step[2]),
	.Y(N_48_0)
);
defparam data_send_RNO_8.INIT=16'h3AA0;
  CFG4 m81 (
	.A(i14_i),
	.B(SCCB_CLK_CNTR[0]),
	.C(N_107),
	.D(m81_2_Z),
	.Y(SCCB_MID_PULSE5)
);
defparam m81.INIT=16'h4000;
// @10:45
  CFG4 sccb_clk_step_3_iv_i (
	.A(data_send96),
	.B(N_24_0_i),
	.C(sccb_clk_step_Z),
	.D(start),
	.Y(sccb_clk_step_3_iv_i_Z)
);
defparam sccb_clk_step_3_iv_i.INIT=16'h54FF;
  CFG4 \step_RNIL2R9[3]  (
	.A(step[4]),
	.B(step[3]),
	.C(N_32_0),
	.D(N_19_0),
	.Y(N_60_0)
);
defparam \step_RNIL2R9[3] .INIT=16'h4567;
// @10:45
  CFG4 \step_lm_0[5]  (
	.A(N_7_0),
	.B(step_s[5]),
	.C(step_RNI1F9B1[0]),
	.D(un1_ip_addr_1_i),
	.Y(step_lm[5])
);
defparam \step_lm_0[5] .INIT=16'hCAC0;
// @10:45
  CFG4 \step_lm_0[4]  (
	.A(step_s[4]),
	.B(N_7_0),
	.C(N_13_i_0),
	.D(step_RNI1F9B1[0]),
	.Y(step_lm[4])
);
defparam \step_lm_0[4] .INIT=16'hAA0C;
// @10:45
  CFG4 \step_lm_0[3]  (
	.A(N_7_0),
	.B(step_s[3]),
	.C(step_RNI1F9B1[0]),
	.D(data_send81),
	.Y(step_lm[3])
);
defparam \step_lm_0[3] .INIT=16'hCAC0;
// @10:45
  CFG4 \step_lm_0[2]  (
	.A(step_s[2]),
	.B(N_7_0),
	.C(N_13_i_0),
	.D(step_RNI1F9B1[0]),
	.Y(step_lm[2])
);
defparam \step_lm_0[2] .INIT=16'hAA0C;
// @10:45
  CFG4 \step_lm_0[1]  (
	.A(step_s[1]),
	.B(N_7_0),
	.C(N_13_i_0),
	.D(step_RNI1F9B1[0]),
	.Y(step_lm[1])
);
defparam \step_lm_0[1] .INIT=16'hAA0C;
// @10:45
  CFG4 \step_lm_0[0]  (
	.A(N_7_0),
	.B(step[0]),
	.C(step_RNI1F9B1[0]),
	.D(data_send81),
	.Y(step_lm[0])
);
defparam \step_lm_0[0] .INIT=16'h3A30;
  CFG4 data_send_RNO_9 (
	.A(step[4]),
	.B(step[0]),
	.C(step_RNIDOE2[1]),
	.D(N_27_0),
	.Y(N_46_0)
);
defparam data_send_RNO_9.INIT=16'h2075;
// @11:54
  CFG3 N_1_i (
	.A(i14_i),
	.B(N_107),
	.C(SCCB_CLK),
	.Y(N_1_i_1z)
);
defparam N_1_i.INIT=8'h78;
  CFG4 \step_RNIQ2KF[5]  (
	.A(step[5]),
	.B(step[4]),
	.C(step[3]),
	.D(N_8_mux),
	.Y(SIO_DO_1)
);
defparam \step_RNIQ2KF[5] .INIT=16'h2800;
  CFG3 data_send_RNO_4 (
	.A(step[3]),
	.B(N_48_0),
	.C(N_46_0),
	.Y(N_49_0)
);
defparam data_send_RNO_4.INIT=8'h8D;
// @10:64
  CFG2 sccb_clk_step_3_iv_i_RNO (
	.A(N_125_mux),
	.B(N_13_i_0),
	.Y(N_24_0_i)
);
defparam sccb_clk_step_3_iv_i_RNO.INIT=4'hD;
  CFG2 data_send_RNIE8AI (
	.A(SIO_DO_1),
	.B(data_send_Z),
	.Y(N_24_i_0)
);
defparam data_send_RNIE8AI.INIT=4'h4;
  CFG4 data_send_RNO_0 (
	.A(step[5]),
	.B(start),
	.C(N_35),
	.D(N_42_0),
	.Y(N_44_i)
);
defparam data_send_RNO_0.INIT=16'h048C;
  CFG4 data_send_RNO_2 (
	.A(step[5]),
	.B(N_49_0),
	.C(m51_0),
	.D(N_35),
	.Y(N_130_mux)
);
defparam data_send_RNO_2.INIT=16'h2070;
  CFG4 sccb_clk_step_RNISOKM (
	.A(start),
	.B(sccb_clk_step_Z),
	.C(SCCB_CLK),
	.D(N_61_0),
	.Y(i8_mux)
);
defparam sccb_clk_step_RNISOKM.INIT=16'hE4CC;
// @10:45
  CFG4 data_send_RNO (
	.A(data_send_Z),
	.B(N_44_i),
	.C(m54_0),
	.D(N_130_mux),
	.Y(N_131_mux_i)
);
defparam data_send_RNO.INIT=16'h1FBF;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* CoreSCCB */

module config_sccb (
  SIO_DO_1_i,
  N_24_i_0,
  i8_mux,
  xclk_c,
  AND2_0_Y_arst
)
;
output SIO_DO_1_i ;
output N_24_i_0 ;
output i8_mux ;
input xclk_c ;
input AND2_0_Y_arst ;
wire SIO_DO_1_i ;
wire N_24_i_0 ;
wire i8_mux ;
wire xclk_c ;
wire AND2_0_Y_arst ;
wire [0:0] ip_addr;
wire [0:0] state;
wire [0:0] state_ns;
wire [5:0] SCCB_CLK_CNTR;
wire [6:0] SCCB_CLK_CNTR_s;
wire [5:0] SCCB_CLK_CNTR_cry;
wire [5:0] SCCB_CLK_CNTR_cry_Y;
wire [6:6] SCCB_CLK_CNTR_s_FCO;
wire [6:6] SCCB_CLK_CNTR_s_Y;
wire start_Z ;
wire VCC ;
wire start_3 ;
wire SCCB_MID_PULSE_Z ;
wire GND ;
wire ip_addr_2_sqmuxa ;
wire SCCB_MID_PULSE5 ;
wire SCCB_CLK_Z ;
wire N_1_i ;
wire i14_i ;
wire SCCB_CLK_CNTR_s_10_FCO ;
wire SCCB_CLK_CNTR_s_10_S ;
wire SCCB_CLK_CNTR_s_10_Y ;
wire SCCB_CLK_CNTR_lcry ;
wire done_i ;
wire N_11 ;
wire N_10 ;
// @11:82
  SLE start (
	.Q(start_Z),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(start_3),
	.EN(SCCB_MID_PULSE_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:82
  SLE \ip_addr[0]  (
	.Q(ip_addr[0]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(VCC),
	.EN(ip_addr_2_sqmuxa),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE SCCB_MID_PULSE (
	.Q(SCCB_MID_PULSE_Z),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(SCCB_MID_PULSE5),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:82
  SLE \state[0]  (
	.Q(state[0]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(state_ns[0]),
	.EN(SCCB_MID_PULSE_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE SCCB_CLK (
	.Q(SCCB_CLK_Z),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(N_1_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE \SCCB_CLK_CNTR[0]  (
	.Q(SCCB_CLK_CNTR[0]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNTR_s[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE \SCCB_CLK_CNTR[1]  (
	.Q(SCCB_CLK_CNTR[1]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNTR_s[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE \SCCB_CLK_CNTR[2]  (
	.Q(SCCB_CLK_CNTR[2]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNTR_s[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE \SCCB_CLK_CNTR[3]  (
	.Q(SCCB_CLK_CNTR[3]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNTR_s[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE \SCCB_CLK_CNTR[4]  (
	.Q(SCCB_CLK_CNTR[4]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNTR_s[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE \SCCB_CLK_CNTR[5]  (
	.Q(SCCB_CLK_CNTR[5]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNTR_s[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  SLE \SCCB_CLK_CNTR[6]  (
	.Q(i14_i),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(SCCB_CLK_CNTR_s[6]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:54
  ARI1 SCCB_CLK_CNTR_s_10 (
	.FCO(SCCB_CLK_CNTR_s_10_FCO),
	.S(SCCB_CLK_CNTR_s_10_S),
	.Y(SCCB_CLK_CNTR_s_10_Y),
	.B(SCCB_CLK_CNTR_lcry),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(VCC)
);
defparam SCCB_CLK_CNTR_s_10.INIT=20'h4AA00;
// @11:54
  ARI1 \SCCB_CLK_CNTR_cry[0]  (
	.FCO(SCCB_CLK_CNTR_cry[0]),
	.S(SCCB_CLK_CNTR_s[0]),
	.Y(SCCB_CLK_CNTR_cry_Y[0]),
	.B(SCCB_CLK_CNTR[0]),
	.C(SCCB_CLK_CNTR_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNTR_s_10_FCO)
);
defparam \SCCB_CLK_CNTR_cry[0] .INIT=20'h48800;
// @11:54
  ARI1 \SCCB_CLK_CNTR_cry[1]  (
	.FCO(SCCB_CLK_CNTR_cry[1]),
	.S(SCCB_CLK_CNTR_s[1]),
	.Y(SCCB_CLK_CNTR_cry_Y[1]),
	.B(SCCB_CLK_CNTR[1]),
	.C(SCCB_CLK_CNTR_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNTR_cry[0])
);
defparam \SCCB_CLK_CNTR_cry[1] .INIT=20'h48800;
// @11:54
  ARI1 \SCCB_CLK_CNTR_cry[2]  (
	.FCO(SCCB_CLK_CNTR_cry[2]),
	.S(SCCB_CLK_CNTR_s[2]),
	.Y(SCCB_CLK_CNTR_cry_Y[2]),
	.B(SCCB_CLK_CNTR[2]),
	.C(SCCB_CLK_CNTR_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNTR_cry[1])
);
defparam \SCCB_CLK_CNTR_cry[2] .INIT=20'h48800;
// @11:54
  ARI1 \SCCB_CLK_CNTR_cry[3]  (
	.FCO(SCCB_CLK_CNTR_cry[3]),
	.S(SCCB_CLK_CNTR_s[3]),
	.Y(SCCB_CLK_CNTR_cry_Y[3]),
	.B(SCCB_CLK_CNTR[3]),
	.C(SCCB_CLK_CNTR_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNTR_cry[2])
);
defparam \SCCB_CLK_CNTR_cry[3] .INIT=20'h48800;
// @11:54
  ARI1 \SCCB_CLK_CNTR_cry[4]  (
	.FCO(SCCB_CLK_CNTR_cry[4]),
	.S(SCCB_CLK_CNTR_s[4]),
	.Y(SCCB_CLK_CNTR_cry_Y[4]),
	.B(SCCB_CLK_CNTR[4]),
	.C(SCCB_CLK_CNTR_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNTR_cry[3])
);
defparam \SCCB_CLK_CNTR_cry[4] .INIT=20'h48800;
// @11:54
  ARI1 \SCCB_CLK_CNTR_s[6]  (
	.FCO(SCCB_CLK_CNTR_s_FCO[6]),
	.S(SCCB_CLK_CNTR_s[6]),
	.Y(SCCB_CLK_CNTR_s_Y[6]),
	.B(SCCB_CLK_CNTR_lcry),
	.C(i14_i),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNTR_cry[5])
);
defparam \SCCB_CLK_CNTR_s[6] .INIT=20'h48800;
// @11:54
  ARI1 \SCCB_CLK_CNTR_cry[5]  (
	.FCO(SCCB_CLK_CNTR_cry[5]),
	.S(SCCB_CLK_CNTR_s[5]),
	.Y(SCCB_CLK_CNTR_cry_Y[5]),
	.B(SCCB_CLK_CNTR[5]),
	.C(SCCB_CLK_CNTR_lcry),
	.D(GND),
	.A(VCC),
	.FCI(SCCB_CLK_CNTR_cry[4])
);
defparam \SCCB_CLK_CNTR_cry[5] .INIT=20'h48800;
// @11:82
  CFG2 \state_ns_0[0]  (
	.A(done_i),
	.B(state[0]),
	.Y(state_ns[0])
);
defparam \state_ns_0[0] .INIT=4'h7;
// @11:91
  CFG2 start_3_0_a2 (
	.A(done_i),
	.B(state[0]),
	.Y(start_3)
);
defparam start_3_0_a2.INIT=4'h4;
// @11:54
  CFG2 ip_addr_2_sqmuxa_0_a2 (
	.A(SCCB_MID_PULSE_Z),
	.B(state[0]),
	.Y(ip_addr_2_sqmuxa)
);
defparam ip_addr_2_sqmuxa_0_a2.INIT=4'h2;
// @11:30
  CoreSCCB coresccb_c0 (
	.SCCB_CLK_CNTR(SCCB_CLK_CNTR[5:0]),
	.ip_addr_0(ip_addr[0]),
	.i8_mux(i8_mux),
	.N_24_i_0(N_24_i_0),
	.N_1_i_1z(N_1_i),
	.SCCB_MID_PULSE5(SCCB_MID_PULSE5),
	.SCCB_CLK(SCCB_CLK_Z),
	.start(start_Z),
	.SCCB_CLK_CNTR_lcry(SCCB_CLK_CNTR_lcry),
	.i14_i(i14_i),
	.done_i(done_i),
	.SCCB_MID_PULSE(SCCB_MID_PULSE_Z),
	.xclk_c(xclk_c),
	.AND2_0_Y_arst(AND2_0_Y_arst),
	.SIO_DO_1_i(SIO_DO_1_i)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* config_sccb */

module sccb_design (
  DEVRST_N,
  led1,
  sio_c,
  test,
  xclk,
  led2,
  sio_d
)
;
input DEVRST_N ;
output led1 ;
output sio_c ;
output test ;
output xclk ;
output led2 ;
inout sio_d /* synthesis syn_tristate = 1 */ ;
wire DEVRST_N ;
wire led1 ;
wire sio_c ;
wire test ;
wire xclk ;
wire led2 ;
wire sio_d ;
wire FCCC_C0_0_LOCK ;
wire SYSRESET_0_POWER_ON_RESET_N ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire VCC ;
wire GND ;
wire AND2_0_Y_arst ;
wire i8_mux ;
wire N_24_i_0 ;
wire led1_c ;
wire test_c ;
wire xclk_c ;
wire led2_c ;
wire \config_sccb_0.coresccb_c0.SIO_DO_1_i  ;
wire AND2_0_Z ;
  CLKINT AND2_0_RNIKOS1 (
	.Y(AND2_0_Y_arst),
	.A(AND2_0_Z)
);
// @12:85
  BIBUF BIBUF_0 (
	.Y(test_c),
	.PAD(sio_d),
	.D(N_24_i_0),
	.E(\config_sccb_0.coresccb_c0.SIO_DO_1_i )
);
// @12:29
  OUTBUF led1_obuf (
	.PAD(led1),
	.D(led1_c)
);
// @12:30
  OUTBUF sio_c_obuf (
	.PAD(sio_c),
	.D(i8_mux)
);
// @12:31
  OUTBUF test_obuf (
	.PAD(test),
	.D(test_c)
);
// @12:32
  OUTBUF xclk_obuf (
	.PAD(xclk),
	.D(xclk_c)
);
// @12:36
  OUTBUF led2_obuf (
	.PAD(led2),
	.D(led2_c)
);
// @12:130
  SYSRESET SYSRESET_0 (
	.POWER_ON_RESET_N(SYSRESET_0_POWER_ON_RESET_N),
	.DEVRST_N(DEVRST_N)
);
// @12:117
  LIVE_PROBE_FB LIVE_PROBE_FB_0 (
	.PROBE_A(led1_c),
	.PROBE_B(led2_c)
);
// @12:76
  AND2 AND2_0 (
	.Y(AND2_0_Z),
	.A(FCCC_C0_0_LOCK),
	.B(SYSRESET_0_POWER_ON_RESET_N)
);
// @12:108
  FCCC_C0 FCCC_C0_0 (
	.xclk_c(xclk_c),
	.FCCC_C0_0_LOCK(FCCC_C0_0_LOCK),
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
// @12:124
  OSC_C0 OSC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
  config_sccb config_sccb_0 (
	.SIO_DO_1_i(\config_sccb_0.coresccb_c0.SIO_DO_1_i ),
	.N_24_i_0(N_24_i_0),
	.i8_mux(i8_mux),
	.xclk_c(xclk_c),
	.AND2_0_Y_arst(AND2_0_Y_arst)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sccb_design */

