//
// Written by Synplify Pro 
// Product Version "O-2018.09M-SP1-1"
// Program "Synplify Pro", Mapper "mapact2018q4p1, Build 026R"
// Wed Feb 17 22:19:29 2021
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\generic\igloo2.v "
// file 1 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\hypermods.v "
// file 2 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\component\work\fccc_c0\fccc_c0_0\fccc_c0_fccc_c0_0_fccc.v "
// file 6 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\component\work\fccc_c0\fccc_c0.v "
// file 7 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\component\actel\sgcore\osc\2.0.101\osc_comps.v "
// file 8 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\component\work\osc_c0\osc_c0_0\osc_c0_osc_c0_0_osc.v "
// file 9 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\component\work\osc_c0\osc_c0.v "
// file 10 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\hdl\coresccb.v "
// file 11 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\hdl\clock_divider.v "
// file 12 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\hdl\config_sccb.v "
// file 13 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\component\work\sccb_design\sccb_design.v "
// file 14 "\c:\microsemi\libero_soc_v12.3\synplifypro\lib\nlconst.dat "
// file 15 "\c:\users\cheec\desktop\master\risc-v_freertos_computer_vision\sccb_testing\sccb_fpga_design\sccb_apb_wrap\designer\sccb_design\synthesis.fdc "

`timescale 100 ps/100 ps
module FCCC_C0_FCCC_C0_0_FCCC (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC,
  FCCC_C0_0_LOCK,
  xclk_c
)
;
input OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
output FCCC_C0_0_LOCK ;
output xclk_c ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire FCCC_C0_0_LOCK ;
wire xclk_c ;
wire [7:0] PRDATA;
wire GL0_net ;
wire Y0 ;
wire Y1 ;
wire Y2 ;
wire Y3 ;
wire BUSY ;
wire VCC ;
wire GND ;
wire GL1 ;
wire GL2 ;
wire GL3 ;
// @5:18
  CLKINT GL0_INST (
	.Y(xclk_c),
	.A(GL0_net)
);
//@6:57
// @5:20
  CCC CCC_INST (
	.Y0(Y0),
	.Y1(Y1),
	.Y2(Y2),
	.Y3(Y3),
	.PRDATA(PRDATA[7:0]),
	.LOCK(FCCC_C0_0_LOCK),
	.BUSY(BUSY),
	.CLK0(VCC),
	.CLK1(VCC),
	.CLK2(VCC),
	.CLK3(VCC),
	.NGMUX0_SEL(GND),
	.NGMUX1_SEL(GND),
	.NGMUX2_SEL(GND),
	.NGMUX3_SEL(GND),
	.NGMUX0_HOLD_N(VCC),
	.NGMUX1_HOLD_N(VCC),
	.NGMUX2_HOLD_N(VCC),
	.NGMUX3_HOLD_N(VCC),
	.NGMUX0_ARST_N(VCC),
	.NGMUX1_ARST_N(VCC),
	.NGMUX2_ARST_N(VCC),
	.NGMUX3_ARST_N(VCC),
	.PLL_BYPASS_N(VCC),
	.PLL_ARST_N(VCC),
	.PLL_POWERDOWN_N(VCC),
	.GPD0_ARST_N(VCC),
	.GPD1_ARST_N(VCC),
	.GPD2_ARST_N(VCC),
	.GPD3_ARST_N(VCC),
	.PRESET_N(GND),
	.PCLK(VCC),
	.PSEL(VCC),
	.PENABLE(VCC),
	.PWRITE(VCC),
	.PADDR({VCC, VCC, VCC, VCC, VCC, VCC}),
	.PWDATA({VCC, VCC, VCC, VCC, VCC, VCC, VCC, VCC}),
	.CLK0_PAD(GND),
	.CLK1_PAD(GND),
	.CLK2_PAD(GND),
	.CLK3_PAD(GND),
	.GL0(GL0_net),
	.GL1(GL1),
	.GL2(GL2),
	.GL3(GL3),
	.RCOSC_25_50MHZ(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.RCOSC_1MHZ(GND),
	.XTLOSC(GND)
);
defparam CCC_INST.INIT=210'h0000007FA8000045574000718C6318C2318C1DEC0404040800104;
defparam CCC_INST.VCOFREQUENCY=640.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* FCCC_C0_FCCC_C0_0_FCCC */

module FCCC_C0 (
  xclk_c,
  FCCC_C0_0_LOCK,
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output xclk_c ;
output FCCC_C0_0_LOCK ;
input OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire xclk_c ;
wire FCCC_C0_0_LOCK ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @6:57
  FCCC_C0_FCCC_C0_0_FCCC FCCC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC),
	.FCCC_C0_0_LOCK(FCCC_C0_0_LOCK),
	.xclk_c(xclk_c)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* FCCC_C0 */

module OSC_C0_OSC_C0_0_OSC (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @8:23
  RCOSC_25_50MHZ I_RCOSC_25_50MHZ (
	.CLKOUT(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
defparam I_RCOSC_25_50MHZ.FREQUENCY=50.0;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* OSC_C0_OSC_C0_0_OSC */

module OSC_C0 (
  OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC
)
;
output OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire GND ;
wire VCC ;
// @9:40
  OSC_C0_OSC_C0_0_OSC OSC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* OSC_C0 */

module clock_divider_10000000s_100000s_49s_24s (
  sccb_clk_1z,
  xclk_c,
  AND2_0_Y_arst,
  mid_pulse_1z
)
;
output sccb_clk_1z ;
input xclk_c ;
input AND2_0_Y_arst ;
output mid_pulse_1z ;
wire sccb_clk_1z ;
wire xclk_c ;
wire AND2_0_Y_arst ;
wire mid_pulse_1z ;
wire [5:0] count;
wire [5:0] count_s;
wire [4:0] count_cry;
wire [4:0] count_cry_Y;
wire [5:5] count_s_FCO;
wire [5:5] count_s_Y;
wire VCC ;
wire mid_pulse6_Z ;
wire GND ;
wire N_3_i ;
wire count_s_21_FCO ;
wire count_s_21_S ;
wire count_s_21_Y ;
wire count_lcry ;
wire mid_pulse6_3_Z ;
wire count12lt5 ;
// @11:20
  SLE mid_pulse (
	.Q(mid_pulse_1z),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(mid_pulse6_Z),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:20
  SLE sccb_clk (
	.Q(sccb_clk_1z),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(N_3_i),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:20
  SLE \count[0]  (
	.Q(count[0]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(count_s[0]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:20
  SLE \count[1]  (
	.Q(count[1]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(count_s[1]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:20
  SLE \count[2]  (
	.Q(count[2]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(count_s[2]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:20
  SLE \count[3]  (
	.Q(count[3]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(count_s[3]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:20
  SLE \count[4]  (
	.Q(count[4]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(count_s[4]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:20
  SLE \count[5]  (
	.Q(count[5]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(count_s[5]),
	.EN(VCC),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @11:20
  ARI1 count_s_21 (
	.FCO(count_s_21_FCO),
	.S(count_s_21_S),
	.Y(count_s_21_Y),
	.B(count_lcry),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(VCC)
);
defparam count_s_21.INIT=20'h4AA00;
// @11:20
  ARI1 \count_cry[0]  (
	.FCO(count_cry[0]),
	.S(count_s[0]),
	.Y(count_cry_Y[0]),
	.B(count[0]),
	.C(count_lcry),
	.D(GND),
	.A(VCC),
	.FCI(count_s_21_FCO)
);
defparam \count_cry[0] .INIT=20'h48800;
// @11:20
  ARI1 \count_cry[1]  (
	.FCO(count_cry[1]),
	.S(count_s[1]),
	.Y(count_cry_Y[1]),
	.B(count[1]),
	.C(count_lcry),
	.D(GND),
	.A(VCC),
	.FCI(count_cry[0])
);
defparam \count_cry[1] .INIT=20'h48800;
// @11:20
  ARI1 \count_cry[2]  (
	.FCO(count_cry[2]),
	.S(count_s[2]),
	.Y(count_cry_Y[2]),
	.B(count[2]),
	.C(count_lcry),
	.D(GND),
	.A(VCC),
	.FCI(count_cry[1])
);
defparam \count_cry[2] .INIT=20'h48800;
// @11:20
  ARI1 \count_cry[3]  (
	.FCO(count_cry[3]),
	.S(count_s[3]),
	.Y(count_cry_Y[3]),
	.B(count[3]),
	.C(count_lcry),
	.D(GND),
	.A(VCC),
	.FCI(count_cry[2])
);
defparam \count_cry[3] .INIT=20'h48800;
// @11:20
  ARI1 \count_s[5]  (
	.FCO(count_s_FCO[5]),
	.S(count_s[5]),
	.Y(count_s_Y[5]),
	.B(count[5]),
	.C(count_lcry),
	.D(GND),
	.A(VCC),
	.FCI(count_cry[4])
);
defparam \count_s[5] .INIT=20'h48800;
// @11:20
  ARI1 \count_cry[4]  (
	.FCO(count_cry[4]),
	.S(count_s[4]),
	.Y(count_cry_Y[4]),
	.B(count[4]),
	.C(count_lcry),
	.D(GND),
	.A(VCC),
	.FCI(count_cry[3])
);
defparam \count_cry[4] .INIT=20'h48800;
// @11:33
  CFG4 mid_pulse6_3 (
	.A(count[3]),
	.B(count[2]),
	.C(count[1]),
	.D(sccb_clk_1z),
	.Y(mid_pulse6_3_Z)
);
defparam mid_pulse6_3.INIT=16'h0002;
// @11:26
  CFG4 count12lto3 (
	.A(count[3]),
	.B(count[2]),
	.C(count[1]),
	.D(count[0]),
	.Y(count12lt5)
);
defparam count12lto3.INIT=16'h0001;
// @11:26
  CFG3 count12lto5 (
	.A(count[5]),
	.B(count[4]),
	.C(count12lt5),
	.Y(count_lcry)
);
defparam count12lto5.INIT=8'hF7;
// @11:33
  CFG4 mid_pulse6 (
	.A(count[0]),
	.B(mid_pulse6_3_Z),
	.C(count[5]),
	.D(count[4]),
	.Y(mid_pulse6_Z)
);
defparam mid_pulse6.INIT=16'h0400;
// @11:20
  CFG2 sccb_clk_RNO (
	.A(count_lcry),
	.B(sccb_clk_1z),
	.Y(N_3_i)
);
defparam sccb_clk_RNO.INIT=4'h9;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* clock_divider_10000000s_100000s_49s_24s */

module CoreSCCB (
  data_in_0,
  sub_addr_4,
  sub_addr_0,
  sub_addr_3,
  id_addr_0,
  sioc_c,
  sccb_clk,
  siod_1_i,
  rw,
  start,
  done_1z,
  bit_send_1z,
  mid_pulse,
  xclk_c,
  AND2_0_Y_arst
)
;
input data_in_0 ;
input sub_addr_4 ;
input sub_addr_0 ;
input sub_addr_3 ;
input id_addr_0 ;
output sioc_c ;
input sccb_clk ;
output siod_1_i ;
input rw ;
input start ;
output done_1z ;
output bit_send_1z ;
input mid_pulse ;
input xclk_c ;
input AND2_0_Y_arst ;
wire data_in_0 ;
wire sub_addr_4 ;
wire sub_addr_0 ;
wire sub_addr_3 ;
wire id_addr_0 ;
wire sioc_c ;
wire sccb_clk ;
wire siod_1_i ;
wire rw ;
wire start ;
wire done_1z ;
wire bit_send_1z ;
wire mid_pulse ;
wire xclk_c ;
wire AND2_0_Y_arst ;
wire [6:0] step;
wire [6:0] step_lm;
wire [5:1] step_cry;
wire [6:1] step_s;
wire [5:1] step_cry_Y;
wire [6:6] step_s_FCO;
wire [6:6] step_s_Y;
wire sccb_clk_step_Z ;
wire GND ;
wire sccb_clk_step_3_iv_i_Z ;
wire VCC ;
wire bit_send_33 ;
wire N_39_i ;
wire step_s_22_FCO ;
wire step_s_22_S ;
wire step_s_22_Y ;
wire N_172 ;
wire N_135 ;
wire un1_rw_1_i ;
wire bit_send_33_0_iv_0_a2_29_1_Z ;
wire N_37_i ;
wire bit_send_33_0_iv_0_1_8_Z ;
wire bit_send_33_0_iv_0_1_9_Z ;
wire bit_send_33_0_iv_0_1_14_Z ;
wire N_151 ;
wire un1_bit_send59_0_0_0_1_Z ;
wire un1_bit_send59_i ;
wire N_134 ;
wire N_191 ;
wire N_66 ;
wire N_157 ;
wire bit_send_33_0_iv_0_a2_32_1_Z ;
wire bit_send_33_0_iv_0_1_4_Z ;
wire N_206 ;
wire N_195 ;
wire N_165 ;
wire un1_start_0_a2_0_a2_0_Z ;
wire bit_send_33_0_iv_0_a2_23_0_Z ;
wire sioc_1_1_a10_1_1 ;
wire N_196 ;
wire N_187 ;
wire N_63 ;
wire N_176 ;
wire N_177 ;
wire N_127 ;
wire bit_send126_0_a2_0_a2_0_Z ;
wire un1_step_7_0_0_0_a2_1_Z ;
wire siod_1_0_0_a2_2_0 ;
wire un1_bit_send59_0_0_0_a2_1_0_Z ;
wire un1_step_7_0_0_a2_1_0_Z ;
wire bit_send_33_0_iv_0_a2_24_0_Z ;
wire bit_send_33_0_iv_0_a2_21_0_Z ;
wire un41_sioc_3_Z ;
wire bit_send_33_0_iv_0_a2_22_0_Z ;
wire sioc_1_1_a10_0_0_Z ;
wire sioc_1_1_a10_7_0_Z ;
wire sioc_1_1_a10_6_0_Z ;
wire sioc_1_1_a10_5_0_Z ;
wire siod_1_0_0_a2_0_0_Z ;
wire sioc_1_1_a10_2_0_Z ;
wire sioc_1_1_a10_1_0_Z ;
wire N_169_2 ;
wire bit_send_33_0_iv_0_a2_23_2_Z ;
wire siod_1_0_0_a2_4_0_Z ;
wire bit_send_33_0_iv_0_a2_25_0_Z ;
wire bit_send_33_0_iv_0_a2_24_1_Z ;
wire siod_1_0_0_a2_0_Z ;
wire sioc_1_1_a10_3_2_Z ;
wire N_160 ;
wire N_175 ;
wire N_167 ;
wire N_169 ;
wire N_73 ;
wire N_80 ;
wire N_75 ;
wire N_77 ;
wire N_164 ;
wire N_74 ;
wire N_156 ;
wire N_143 ;
wire N_128 ;
wire N_166 ;
wire bit_send126 ;
wire N_72 ;
wire N_144 ;
wire bit_send_33_0_iv_0_1_2_Z ;
wire sioc_1_1_3_Z ;
wire sioc_1_1_1_Z ;
wire siod_1_0_0_2_Z ;
wire N_163 ;
wire N_174 ;
wire N_153 ;
wire N_171 ;
wire N_76 ;
wire un1_step_7_i ;
wire bit_send_33_0_iv_0_1_6_Z ;
wire siod_1_0_0_4_Z ;
wire siod_1_0_0_0_Z ;
wire N_158 ;
wire bit_send_33_0_iv_0_1_11_Z ;
wire sioc_1_1_5_Z ;
wire sioc_1_1_6_Z ;
wire N_41 ;
wire N_40 ;
wire N_39 ;
wire N_38 ;
wire N_37 ;
wire N_36 ;
wire N_35 ;
wire N_34 ;
// @10:66
  SLE sccb_clk_step (
	.Q(sccb_clk_step_Z),
	.ADn(GND),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(sccb_clk_step_3_iv_i_Z),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE bit_send (
	.Q(bit_send_1z),
	.ADn(GND),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(bit_send_33),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE done (
	.Q(done_1z),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(N_39_i),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE \step[0]  (
	.Q(step[0]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[0]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE \step[1]  (
	.Q(step[1]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[1]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE \step[2]  (
	.Q(step[2]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[2]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE \step[3]  (
	.Q(step[3]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[3]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE \step[4]  (
	.Q(step[4]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[4]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE \step[5]  (
	.Q(step[5]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[5]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  SLE \step[6]  (
	.Q(step[6]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(step_lm[6]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @10:66
  ARI1 step_s_22 (
	.FCO(step_s_22_FCO),
	.S(step_s_22_S),
	.Y(step_s_22_Y),
	.B(step[0]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(VCC)
);
defparam step_s_22.INIT=20'h4AA00;
// @10:66
  ARI1 \step_cry[1]  (
	.FCO(step_cry[1]),
	.S(step_s[1]),
	.Y(step_cry_Y[1]),
	.B(step[1]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_s_22_FCO)
);
defparam \step_cry[1] .INIT=20'h4AA00;
// @10:66
  ARI1 \step_cry[2]  (
	.FCO(step_cry[2]),
	.S(step_s[2]),
	.Y(step_cry_Y[2]),
	.B(step[2]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[1])
);
defparam \step_cry[2] .INIT=20'h4AA00;
// @10:66
  ARI1 \step_cry[3]  (
	.FCO(step_cry[3]),
	.S(step_s[3]),
	.Y(step_cry_Y[3]),
	.B(step[3]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[2])
);
defparam \step_cry[3] .INIT=20'h4AA00;
// @10:66
  ARI1 \step_cry[4]  (
	.FCO(step_cry[4]),
	.S(step_s[4]),
	.Y(step_cry_Y[4]),
	.B(step[4]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[3])
);
defparam \step_cry[4] .INIT=20'h4AA00;
// @10:66
  ARI1 \step_s[6]  (
	.FCO(step_s_FCO[6]),
	.S(step_s[6]),
	.Y(step_s_Y[6]),
	.B(step[6]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[5])
);
defparam \step_s[6] .INIT=20'h4AA00;
// @10:66
  ARI1 \step_cry[5]  (
	.FCO(step_cry[5]),
	.S(step_s[5]),
	.Y(step_cry_Y[5]),
	.B(step[5]),
	.C(GND),
	.D(GND),
	.A(VCC),
	.FCI(step_cry[4])
);
defparam \step_cry[5] .INIT=20'h4AA00;
// @10:66
  CFG4 \step_lm_0[4]  (
	.A(N_172),
	.B(step_s[4]),
	.C(N_135),
	.D(un1_rw_1_i),
	.Y(step_lm[4])
);
defparam \step_lm_0[4] .INIT=16'h0004;
// @10:66
  CFG4 \step_lm_0[3]  (
	.A(N_172),
	.B(step_s[3]),
	.C(N_135),
	.D(un1_rw_1_i),
	.Y(step_lm[3])
);
defparam \step_lm_0[3] .INIT=16'h0004;
// @10:66
  CFG4 \step_lm_0[1]  (
	.A(N_172),
	.B(step_s[1]),
	.C(N_135),
	.D(un1_rw_1_i),
	.Y(step_lm[1])
);
defparam \step_lm_0[1] .INIT=16'h0004;
// @10:66
  CFG4 \step_lm_0[0]  (
	.A(N_172),
	.B(step[0]),
	.C(N_135),
	.D(un1_rw_1_i),
	.Y(step_lm[0])
);
defparam \step_lm_0[0] .INIT=16'h0F0B;
// @10:91
  CFG3 bit_send_33_0_iv_0_a2_29_1 (
	.A(step[6]),
	.B(bit_send_1z),
	.C(step[0]),
	.Y(bit_send_33_0_iv_0_a2_29_1_Z)
);
defparam bit_send_33_0_iv_0_a2_29_1.INIT=8'h04;
// @10:91
  CFG4 bit_send_33_0_iv_0_1_14 (
	.A(start),
	.B(N_37_i),
	.C(bit_send_33_0_iv_0_1_8_Z),
	.D(bit_send_33_0_iv_0_1_9_Z),
	.Y(bit_send_33_0_iv_0_1_14_Z)
);
defparam bit_send_33_0_iv_0_1_14.INIT=16'hFFFD;
// @10:92
  CFG4 un1_bit_send59_0_0_0 (
	.A(N_151),
	.B(step[4]),
	.C(N_37_i),
	.D(un1_bit_send59_0_0_0_1_Z),
	.Y(un1_bit_send59_i)
);
defparam un1_bit_send59_0_0_0.INIT=16'hFBFA;
// @10:92
  CFG4 un1_bit_send59_0_0_0_1 (
	.A(N_134),
	.B(N_191),
	.C(step[6]),
	.D(N_66),
	.Y(un1_bit_send59_0_0_0_1_Z)
);
defparam un1_bit_send59_0_0_0_1.INIT=16'h0CCA;
// @10:91
  CFG4 bit_send_33_0_iv_0_1_9 (
	.A(N_191),
	.B(N_157),
	.C(bit_send_33_0_iv_0_a2_32_1_Z),
	.D(bit_send_33_0_iv_0_1_4_Z),
	.Y(bit_send_33_0_iv_0_1_9_Z)
);
defparam bit_send_33_0_iv_0_1_9.INIT=16'hFFEC;
// @10:91
  CFG3 bit_send_33_0_iv_0_a2_27 (
	.A(N_206),
	.B(step[4]),
	.C(N_195),
	.Y(N_165)
);
defparam bit_send_33_0_iv_0_a2_27.INIT=8'h80;
// @10:77
  CFG2 un1_start_0_a2_0_a2_0 (
	.A(un1_rw_1_i),
	.B(N_172),
	.Y(un1_start_0_a2_0_a2_0_Z)
);
defparam un1_start_0_a2_0_a2_0.INIT=4'h1;
// @10:91
  CFG2 bit_send_33_0_iv_0_a2_23_0 (
	.A(step[0]),
	.B(id_addr_0),
	.Y(bit_send_33_0_iv_0_a2_23_0_Z)
);
defparam bit_send_33_0_iv_0_a2_23_0.INIT=4'h4;
// @10:91
  CFG2 bit_send_33_0_iv_0_a2_29_0 (
	.A(step[0]),
	.B(step[6]),
	.Y(sioc_1_1_a10_1_1)
);
defparam bit_send_33_0_iv_0_a2_29_0.INIT=4'h1;
// @10:49
  CFG2 un41_sioc_0 (
	.A(step[0]),
	.B(step[1]),
	.Y(N_196)
);
defparam un41_sioc_0.INIT=4'h2;
// @10:56
  CFG2 sioc_1_1_a10_0_0 (
	.A(step[6]),
	.B(step[4]),
	.Y(N_187)
);
defparam sioc_1_1_a10_0_0.INIT=4'h4;
// @10:56
  CFG2 sioc_1_1_o10 (
	.A(step[2]),
	.B(step[3]),
	.Y(N_63)
);
defparam sioc_1_1_o10.INIT=4'h7;
// @10:77
  CFG2 \step_3_6_5__step_3_2__step_3_0_.m2_i_i_a2  (
	.A(N_172),
	.B(start),
	.Y(N_176)
);
defparam \step_3_6_5__step_3_2__step_3_0_.m2_i_i_a2 .INIT=4'h8;
// @10:77
  CFG2 \step_3_6_5__step_3_2__step_3_0_.m3_i_i_a2  (
	.A(un1_rw_1_i),
	.B(start),
	.Y(N_177)
);
defparam \step_3_6_5__step_3_2__step_3_0_.m3_i_i_a2 .INIT=4'h8;
// @10:77
  CFG2 bit_send_33_0_iv_0_a3_2_RNI4C911 (
	.A(N_37_i),
	.B(start),
	.Y(N_135)
);
defparam bit_send_33_0_iv_0_a3_2_RNI4C911.INIT=4'hB;
// @10:91
  CFG2 bit_send_33_0_iv_0_a3_3 (
	.A(step[0]),
	.B(step[1]),
	.Y(N_195)
);
defparam bit_send_33_0_iv_0_a3_3.INIT=4'h4;
// @10:91
  CFG3 bit_send_33_0_iv_0_m2_i_m2 (
	.A(sub_addr_4),
	.B(sub_addr_0),
	.C(step[2]),
	.Y(N_127)
);
defparam bit_send_33_0_iv_0_m2_i_m2.INIT=8'hCA;
// @10:187
  CFG3 bit_send126_0_a2_0_a2_0 (
	.A(step[0]),
	.B(step[6]),
	.C(step[1]),
	.Y(bit_send126_0_a2_0_a2_0_Z)
);
defparam bit_send126_0_a2_0_a2_0.INIT=8'h80;
// @10:92
  CFG4 un1_step_7_0_0_0_a2_1 (
	.A(step[0]),
	.B(step[4]),
	.C(step[3]),
	.D(step[6]),
	.Y(un1_step_7_0_0_0_a2_1_Z)
);
defparam un1_step_7_0_0_0_a2_1.INIT=16'h0002;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_30_0 (
	.A(step[1]),
	.B(step[0]),
	.C(step[3]),
	.D(step[2]),
	.Y(siod_1_0_0_a2_2_0)
);
defparam bit_send_33_0_iv_0_a2_30_0.INIT=16'h0010;
// @10:92
  CFG3 un1_bit_send59_0_0_0_a2_1_0 (
	.A(step[0]),
	.B(step[4]),
	.C(step[6]),
	.Y(un1_bit_send59_0_0_0_a2_1_0_Z)
);
defparam un1_bit_send59_0_0_0_a2_1_0.INIT=8'h01;
// @10:92
  CFG3 un1_step_7_0_0_a2_1_0 (
	.A(step[6]),
	.B(N_195),
	.C(step[4]),
	.Y(un1_step_7_0_0_a2_1_0_Z)
);
defparam un1_step_7_0_0_a2_1_0.INIT=8'h04;
// @10:91
  CFG3 bit_send_33_0_iv_0_a2_24_0 (
	.A(step[0]),
	.B(bit_send_1z),
	.C(step[1]),
	.Y(bit_send_33_0_iv_0_a2_24_0_Z)
);
defparam bit_send_33_0_iv_0_a2_24_0.INIT=8'hC8;
// @10:91
  CFG3 bit_send_33_0_iv_0_a2_21_0 (
	.A(step[2]),
	.B(step[6]),
	.C(step[5]),
	.Y(bit_send_33_0_iv_0_a2_21_0_Z)
);
defparam bit_send_33_0_iv_0_a2_21_0.INIT=8'h02;
// @10:49
  CFG4 un41_sioc_3 (
	.A(step[3]),
	.B(step[6]),
	.C(step[5]),
	.D(step[4]),
	.Y(un41_sioc_3_Z)
);
defparam un41_sioc_3.INIT=16'h0200;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_22_0 (
	.A(step[5]),
	.B(step[4]),
	.C(step[3]),
	.D(step[2]),
	.Y(bit_send_33_0_iv_0_a2_22_0_Z)
);
defparam bit_send_33_0_iv_0_a2_22_0.INIT=16'h8200;
// @10:56
  CFG3 sioc_1_1_a10_0_1 (
	.A(step[5]),
	.B(step[4]),
	.C(step[1]),
	.Y(sioc_1_1_a10_0_0_Z)
);
defparam sioc_1_1_a10_0_1.INIT=8'h2E;
// @10:56
  CFG4 sioc_1_1_a10_7_0 (
	.A(step[5]),
	.B(step[4]),
	.C(step[3]),
	.D(step[2]),
	.Y(sioc_1_1_a10_7_0_Z)
);
defparam sioc_1_1_a10_7_0.INIT=16'h0001;
// @10:56
  CFG4 sioc_1_1_a10_6_0 (
	.A(step[6]),
	.B(step[3]),
	.C(step[1]),
	.D(step[0]),
	.Y(sioc_1_1_a10_6_0_Z)
);
defparam sioc_1_1_a10_6_0.INIT=16'h0001;
// @10:56
  CFG4 sioc_1_1_a10_5_0 (
	.A(step[5]),
	.B(step[4]),
	.C(step[3]),
	.D(step[2]),
	.Y(sioc_1_1_a10_5_0_Z)
);
defparam sioc_1_1_a10_5_0.INIT=16'h0010;
// @10:48
  CFG3 siod_1_0_0_a2_0_0_0 (
	.A(step[6]),
	.B(step[4]),
	.C(step[3]),
	.Y(siod_1_0_0_a2_0_0_Z)
);
defparam siod_1_0_0_a2_0_0_0.INIT=8'h10;
// @10:56
  CFG4 sioc_1_1_a10_2_0 (
	.A(step[6]),
	.B(step[3]),
	.C(step[1]),
	.D(step[0]),
	.Y(sioc_1_1_a10_2_0_Z)
);
defparam sioc_1_1_a10_2_0.INIT=16'h0111;
// @10:56
  CFG3 sioc_1_1_a10_1_0 (
	.A(step[1]),
	.B(start),
	.C(N_63),
	.Y(sioc_1_1_a10_1_0_Z)
);
defparam sioc_1_1_a10_1_0.INIT=8'h0E;
// @10:91
  CFG2 bit_send_33_0_iv_0_1_o2 (
	.A(step[0]),
	.B(step[1]),
	.Y(N_66)
);
defparam bit_send_33_0_iv_0_1_o2.INIT=4'h9;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_31_2 (
	.A(step[0]),
	.B(step[1]),
	.C(step[6]),
	.D(step[4]),
	.Y(N_169_2)
);
defparam bit_send_33_0_iv_0_a2_31_2.INIT=16'h0008;
// @10:48
  CFG3 siod_1_0_0_a3_1 (
	.A(step[5]),
	.B(step[3]),
	.C(step[2]),
	.Y(N_206)
);
defparam siod_1_0_0_a3_1.INIT=8'h02;
// @10:50
  CFG3 un61_sioc_1_0_0_a2_0_0_a2 (
	.A(step[5]),
	.B(step[3]),
	.C(step[2]),
	.Y(N_134)
);
defparam un61_sioc_1_0_0_a2_0_0_a2.INIT=8'h20;
// @10:91
  CFG3 bit_send_33_0_iv_0_a3_2 (
	.A(step[5]),
	.B(step[3]),
	.C(step[2]),
	.Y(N_191)
);
defparam bit_send_33_0_iv_0_a3_2.INIT=8'h01;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_23_2 (
	.A(step[6]),
	.B(bit_send_33_0_iv_0_a2_23_0_Z),
	.C(step[4]),
	.D(step[3]),
	.Y(bit_send_33_0_iv_0_a2_23_2_Z)
);
defparam bit_send_33_0_iv_0_a2_23_2.INIT=16'h0400;
// @10:48
  CFG4 siod_1_0_0_a2_4_0 (
	.A(step[0]),
	.B(step[1]),
	.C(step[6]),
	.D(step[4]),
	.Y(siod_1_0_0_a2_4_0_Z)
);
defparam siod_1_0_0_a2_4_0.INIT=16'h0001;
// @10:91
  CFG3 bit_send_33_0_iv_0_a2_25_0 (
	.A(step[5]),
	.B(step[2]),
	.C(N_66),
	.Y(bit_send_33_0_iv_0_a2_25_0_Z)
);
defparam bit_send_33_0_iv_0_a2_25_0.INIT=8'h80;
// @10:91
  CFG3 bit_send_33_0_iv_0_a2_24_1 (
	.A(step[6]),
	.B(bit_send_33_0_iv_0_a2_24_0_Z),
	.C(step[4]),
	.Y(bit_send_33_0_iv_0_a2_24_1_Z)
);
defparam bit_send_33_0_iv_0_a2_24_1.INIT=8'h04;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_32_1 (
	.A(sub_addr_3),
	.B(step[1]),
	.C(step[0]),
	.D(N_187),
	.Y(bit_send_33_0_iv_0_a2_32_1_Z)
);
defparam bit_send_33_0_iv_0_a2_32_1.INIT=16'h8000;
// @10:48
  CFG4 siod_1_0_0_a2_0_0 (
	.A(step[2]),
	.B(step[1]),
	.C(step[0]),
	.D(N_187),
	.Y(siod_1_0_0_a2_0_Z)
);
defparam siod_1_0_0_a2_0_0.INIT=16'h7F00;
// @10:56
  CFG4 sioc_1_1_a10_3_2 (
	.A(step[6]),
	.B(step[3]),
	.C(step[2]),
	.D(start),
	.Y(sioc_1_1_a10_3_2_Z)
);
defparam sioc_1_1_a10_3_2.INIT=16'h1000;
// @10:92
  CFG4 un1_bit_send59_0_0_0_a2_1 (
	.A(step[2]),
	.B(un1_bit_send59_0_0_0_a2_1_0_Z),
	.C(step[5]),
	.D(step[3]),
	.Y(N_151)
);
defparam un1_bit_send59_0_0_0_a2_1.INIT=16'h4000;
// @10:91
  CFG3 bit_send_33_0_iv_0_a2_22 (
	.A(step[1]),
	.B(step[0]),
	.C(bit_send_33_0_iv_0_a2_22_0_Z),
	.Y(N_160)
);
defparam bit_send_33_0_iv_0_a2_22.INIT=8'h80;
// @10:92
  CFG4 un1_step_7_0_0_a2_1 (
	.A(step[2]),
	.B(un1_step_7_0_0_a2_1_0_Z),
	.C(step[5]),
	.D(step[3]),
	.Y(N_175)
);
defparam un1_step_7_0_0_a2_1.INIT=16'h4000;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_29 (
	.A(step[5]),
	.B(step[3]),
	.C(step[2]),
	.D(bit_send_33_0_iv_0_a2_29_1_Z),
	.Y(N_167)
);
defparam bit_send_33_0_iv_0_a2_29.INIT=16'h0800;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_31 (
	.A(step[3]),
	.B(bit_send_1z),
	.C(N_169_2),
	.D(step[2]),
	.Y(N_169)
);
defparam bit_send_33_0_iv_0_a2_31.INIT=16'h0040;
// @10:56
  CFG3 sioc_1_1_a10_0 (
	.A(step[6]),
	.B(sioc_1_1_a10_0_0_Z),
	.C(N_63),
	.Y(N_73)
);
defparam sioc_1_1_a10_0.INIT=8'h04;
// @10:56
  CFG4 sioc_1_1_a10_7 (
	.A(step[6]),
	.B(step[1]),
	.C(step[0]),
	.D(sioc_1_1_a10_7_0_Z),
	.Y(N_80)
);
defparam sioc_1_1_a10_7.INIT=16'h0200;
// @10:56
  CFG3 sioc_1_1_a10_2 (
	.A(step[5]),
	.B(step[2]),
	.C(sioc_1_1_a10_2_0_Z),
	.Y(N_75)
);
defparam sioc_1_1_a10_2.INIT=8'h20;
// @10:56
  CFG4 sioc_1_1_a10_4 (
	.A(step[6]),
	.B(step[4]),
	.C(step[0]),
	.D(N_63),
	.Y(N_77)
);
defparam sioc_1_1_a10_4.INIT=16'h4000;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_26 (
	.A(step[5]),
	.B(bit_send_1z),
	.C(N_187),
	.D(step[3]),
	.Y(N_164)
);
defparam bit_send_33_0_iv_0_a2_26.INIT=16'h8000;
// @10:91
  CFG3 bit_send_33_0_iv_0_o2_2 (
	.A(step[2]),
	.B(step[1]),
	.C(step[5]),
	.Y(N_74)
);
defparam bit_send_33_0_iv_0_o2_2.INIT=8'h24;
// @10:48
  CFG2 siod_1_0_0_a2_3 (
	.A(N_169_2),
	.B(N_206),
	.Y(N_156)
);
defparam siod_1_0_0_a2_3.INIT=4'h8;
// @10:91
  CFG3 bit_send_33_0_iv_0_o2_4 (
	.A(N_196),
	.B(step[6]),
	.C(N_195),
	.Y(N_143)
);
defparam bit_send_33_0_iv_0_o2_4.INIT=8'hEA;
// @10:91
  CFG4 bit_send_33_0_iv_0_o2_3 (
	.A(step[4]),
	.B(step[3]),
	.C(id_addr_0),
	.D(bit_send_1z),
	.Y(N_128)
);
defparam bit_send_33_0_iv_0_o2_3.INIT=16'h7430;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_28 (
	.A(step[6]),
	.B(N_191),
	.C(step[1]),
	.D(step[4]),
	.Y(N_166)
);
defparam bit_send_33_0_iv_0_a2_28.INIT=16'h0004;
// @10:66
  CFG3 done_RNO (
	.A(done_1z),
	.B(start),
	.C(bit_send126),
	.Y(N_39_i)
);
defparam done_RNO.INIT=8'hC8;
// @10:56
  CFG4 sioc_1_1_a10 (
	.A(step[5]),
	.B(step[3]),
	.C(step[2]),
	.D(N_187),
	.Y(N_72)
);
defparam sioc_1_1_a10.INIT=16'h5B00;
// @10:66
  CFG4 \step_lm_0[6]  (
	.A(un1_start_0_a2_0_a2_0_Z),
	.B(N_135),
	.C(step_s[6]),
	.D(N_177),
	.Y(step_lm[6])
);
defparam \step_lm_0[6] .INIT=16'hFD20;
// @10:66
  CFG4 \step_lm_0[5]  (
	.A(un1_start_0_a2_0_a2_0_Z),
	.B(N_135),
	.C(step_s[5]),
	.D(N_176),
	.Y(step_lm[5])
);
defparam \step_lm_0[5] .INIT=16'hFD20;
// @10:66
  CFG4 \step_lm_0[2]  (
	.A(un1_start_0_a2_0_a2_0_Z),
	.B(N_135),
	.C(step_s[2]),
	.D(N_176),
	.Y(step_lm[2])
);
defparam \step_lm_0[2] .INIT=16'hFD20;
// @10:91
  CFG4 bit_send_33_0_iv_0_o2_5 (
	.A(data_in_0),
	.B(step[3]),
	.C(step[2]),
	.D(N_127),
	.Y(N_144)
);
defparam bit_send_33_0_iv_0_o2_5.INIT=16'h3B08;
// @10:91
  CFG4 bit_send_33_0_iv_0_1_2 (
	.A(bit_send_1z),
	.B(siod_1_0_0_a2_2_0),
	.C(N_167),
	.D(N_187),
	.Y(bit_send_33_0_iv_0_1_2_Z)
);
defparam bit_send_33_0_iv_0_1_2.INIT=16'hF8F0;
// @10:56
  CFG4 sioc_1_1_3 (
	.A(step[6]),
	.B(start),
	.C(sioc_1_1_a10_5_0_Z),
	.D(N_77),
	.Y(sioc_1_1_3_Z)
);
defparam sioc_1_1_3.INIT=16'hFF40;
// @10:56
  CFG4 sioc_1_1_1 (
	.A(step[5]),
	.B(step[4]),
	.C(sioc_1_1_a10_6_0_Z),
	.D(N_75),
	.Y(sioc_1_1_1_Z)
);
defparam sioc_1_1_1.INIT=16'hFF20;
// @10:48
  CFG4 siod_1_0_0_2 (
	.A(un41_sioc_3_Z),
	.B(step[2]),
	.C(N_196),
	.D(N_156),
	.Y(siod_1_0_0_2_Z)
);
defparam siod_1_0_0_2.INIT=16'hFF20;
// @10:187
  CFG3 bit_send126_0_a2_0_a2 (
	.A(step[4]),
	.B(bit_send126_0_a2_0_a2_0_Z),
	.C(N_191),
	.Y(bit_send126)
);
defparam bit_send126_0_a2_0_a2.INIT=8'h40;
// @10:91
  CFG3 bit_send_33_0_iv_0_a2_25 (
	.A(N_187),
	.B(bit_send_33_0_iv_0_a2_25_0_Z),
	.C(bit_send_1z),
	.Y(N_163)
);
defparam bit_send_33_0_iv_0_a2_25.INIT=8'h80;
// @10:92
  CFG4 un1_step_7_0_0_a2_0 (
	.A(step[6]),
	.B(step[4]),
	.C(N_191),
	.D(N_196),
	.Y(N_174)
);
defparam un1_step_7_0_0_a2_0.INIT=16'h2000;
// @10:48
  CFG4 siod_1_0_0_a2_0 (
	.A(step[5]),
	.B(step[2]),
	.C(siod_1_0_0_a2_0_0_Z),
	.D(N_66),
	.Y(N_153)
);
defparam siod_1_0_0_a2_0.INIT=16'h0040;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_33 (
	.A(id_addr_0),
	.B(N_206),
	.C(N_196),
	.D(N_187),
	.Y(N_171)
);
defparam bit_send_33_0_iv_0_a2_33.INIT=16'h8000;
// @10:56
  CFG4 sioc_1_1_a10_3 (
	.A(step[5]),
	.B(step[1]),
	.C(step[0]),
	.D(sioc_1_1_a10_3_2_Z),
	.Y(N_76)
);
defparam sioc_1_1_a10_3.INIT=16'h5400;
// @10:81
  CFG4 un1_rw_2_i_0_i_a2 (
	.A(rw),
	.B(step[2]),
	.C(un41_sioc_3_Z),
	.D(N_196),
	.Y(N_172)
);
defparam un1_rw_2_i_0_i_a2.INIT=16'h2000;
// @10:66
  CFG4 sccb_clk_step_3_iv_i (
	.A(start),
	.B(sccb_clk_step_Z),
	.C(un1_bit_send59_i),
	.D(un1_step_7_i),
	.Y(sccb_clk_step_3_iv_i_Z)
);
defparam sccb_clk_step_3_iv_i.INIT=16'h55FD;
// @10:91
  CFG4 bit_send_33_0_iv_0_1_a2 (
	.A(N_195),
	.B(step[5]),
	.C(N_187),
	.D(N_144),
	.Y(N_157)
);
defparam bit_send_33_0_iv_0_1_a2.INIT=16'h2000;
// @10:91
  CFG4 bit_send_33_0_iv_0_1_6 (
	.A(N_160),
	.B(N_169),
	.C(N_74),
	.D(bit_send_33_0_iv_0_a2_23_2_Z),
	.Y(bit_send_33_0_iv_0_1_6_Z)
);
defparam bit_send_33_0_iv_0_1_6.INIT=16'hFEEE;
// @10:91
  CFG4 bit_send_33_0_iv_0_1_4 (
	.A(N_196),
	.B(N_171),
	.C(N_128),
	.D(bit_send_33_0_iv_0_a2_21_0_Z),
	.Y(bit_send_33_0_iv_0_1_4_Z)
);
defparam bit_send_33_0_iv_0_1_4.INIT=16'hECCC;
// @10:48
  CFG4 siod_1_0_0_4 (
	.A(siod_1_0_0_a2_2_0),
	.B(siod_1_0_0_2_Z),
	.C(N_187),
	.D(N_134),
	.Y(siod_1_0_0_4_Z)
);
defparam siod_1_0_0_4.INIT=16'hFCEC;
// @10:48
  CFG4 siod_1_0_0_0 (
	.A(step[5]),
	.B(step[3]),
	.C(siod_1_0_0_a2_0_Z),
	.D(N_153),
	.Y(siod_1_0_0_0_Z)
);
defparam siod_1_0_0_0.INIT=16'hFF80;
// @10:91
  CFG4 bit_send_33_0_iv_0_a2_20 (
	.A(step[4]),
	.B(bit_send_1z),
	.C(N_143),
	.D(N_191),
	.Y(N_158)
);
defparam bit_send_33_0_iv_0_a2_20.INIT=16'h4000;
// @10:79
  CFG3 un1_rw_1_0_a2_0_a2 (
	.A(rw),
	.B(siod_1_0_0_a2_4_0_Z),
	.C(N_134),
	.Y(un1_rw_1_i)
);
defparam un1_rw_1_0_a2_0_a2.INIT=8'h40;
// @10:77
  CFG3 bit_send_33_0_iv_0_a3_2_RNI90UT (
	.A(step[6]),
	.B(N_191),
	.C(step[4]),
	.Y(N_37_i)
);
defparam bit_send_33_0_iv_0_a3_2_RNI90UT.INIT=8'hA2;
// @10:91
  CFG4 bit_send_33_0_iv_0_1_11 (
	.A(N_163),
	.B(bit_send126),
	.C(N_165),
	.D(N_166),
	.Y(bit_send_33_0_iv_0_1_11_Z)
);
defparam bit_send_33_0_iv_0_1_11.INIT=16'hFFFE;
// @10:91
  CFG4 bit_send_33_0_iv_0_1_8 (
	.A(N_164),
	.B(bit_send_33_0_iv_0_1_2_Z),
	.C(bit_send_33_0_iv_0_a2_24_1_Z),
	.D(N_134),
	.Y(bit_send_33_0_iv_0_1_8_Z)
);
defparam bit_send_33_0_iv_0_1_8.INIT=16'hFEEE;
// @10:56
  CFG4 sioc_1_1_5 (
	.A(sioc_1_1_a10_1_1),
	.B(sioc_1_1_a10_1_0_Z),
	.C(sioc_1_1_1_Z),
	.D(N_76),
	.Y(sioc_1_1_5_Z)
);
defparam sioc_1_1_5.INIT=16'hFFF8;
// @10:92
  CFG4 un1_step_7_0_0_0 (
	.A(N_174),
	.B(N_175),
	.C(un1_step_7_0_0_0_a2_1_Z),
	.D(N_74),
	.Y(un1_step_7_i)
);
defparam un1_step_7_0_0_0.INIT=16'hFEEE;
// @10:56
  CFG4 sioc_1_1_6 (
	.A(sioc_1_1_3_Z),
	.B(N_80),
	.C(N_73),
	.D(N_72),
	.Y(sioc_1_1_6_Z)
);
defparam sioc_1_1_6.INIT=16'hFFFE;
// @10:48
  CFG4 siod_1_0_0 (
	.A(siod_1_0_0_a2_4_0_Z),
	.B(siod_1_0_0_4_Z),
	.C(siod_1_0_0_0_Z),
	.D(N_134),
	.Y(siod_1_i)
);
defparam siod_1_0_0.INIT=16'h0103;
// @10:56
  CFG4 sioc (
	.A(sccb_clk),
	.B(sioc_1_1_6_Z),
	.C(sioc_1_1_5_Z),
	.D(sccb_clk_step_Z),
	.Y(sioc_c)
);
defparam sioc.INIT=16'hABA8;
// @10:91
  CFG4 bit_send_33_0_iv_0_1 (
	.A(N_158),
	.B(bit_send_33_0_iv_0_1_6_Z),
	.C(bit_send_33_0_iv_0_1_14_Z),
	.D(bit_send_33_0_iv_0_1_11_Z),
	.Y(bit_send_33)
);
defparam bit_send_33_0_iv_0_1.INIT=16'hFFFE;
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* CoreSCCB */

module config_sccb (
  bit_send,
  siod_1_i,
  sioc_c,
  AND2_0,
  xclk_c,
  AND2_0_Y_arst
)
;
output bit_send ;
output siod_1_i ;
output sioc_c ;
input AND2_0 ;
input xclk_c ;
input AND2_0_Y_arst ;
wire bit_send ;
wire siod_1_i ;
wire sioc_c ;
wire AND2_0 ;
wire xclk_c ;
wire AND2_0_Y_arst ;
wire [5:0] state;
wire [0:0] state_i;
wire [4:0] sub_addr;
wire [1:1] id_addr;
wire [5:1] state_ns;
wire [7:7] data_in;
wire VCC ;
wire un1_id_addr19_1_0_a2_0_a2_0_a2_Z ;
wire GND ;
wire mid_pulse ;
wire N_36_i ;
wire N_33_i ;
wire start_Z ;
wire N_32_i ;
wire rw_Z ;
wire un1_PRESETN_0_a2_Z ;
wire N_27_i ;
wire done ;
wire N_81 ;
wire N_8 ;
wire N_7 ;
wire N_6 ;
wire N_5 ;
wire N_4 ;
wire N_3 ;
wire sccb_clk ;
  CFG1 \state_RNIM40F[0]  (
	.A(state[0]),
	.Y(state_i[0])
);
defparam \state_RNIM40F[0] .INIT=2'h1;
// @12:62
  SLE \sub_addr[4]  (
	.Q(sub_addr[4]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(state[0]),
	.EN(un1_id_addr19_1_0_a2_0_a2_0_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \id_addr[1]  (
	.Q(id_addr[1]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(VCC),
	.EN(un1_id_addr19_1_0_a2_0_a2_0_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \sub_addr[0]  (
	.Q(sub_addr[0]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(state[4]),
	.EN(un1_id_addr19_1_0_a2_0_a2_0_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \sub_addr[3]  (
	.Q(sub_addr[3]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(state_i[0]),
	.EN(un1_id_addr19_1_0_a2_0_a2_0_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \state[5]  (
	.Q(state[5]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(state_ns[5]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \state[4]  (
	.Q(state[4]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(N_36_i),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \state[3]  (
	.Q(state[3]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(state_ns[3]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \state[2]  (
	.Q(state[2]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(N_33_i),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \state[1]  (
	.Q(state[1]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(state_ns[1]),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \state[0]  (
	.Q(state[0]),
	.ADn(GND),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(GND),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE start (
	.Q(start_Z),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(N_32_i),
	.EN(mid_pulse),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE rw (
	.Q(rw_Z),
	.ADn(VCC),
	.ALn(VCC),
	.CLK(xclk_c),
	.D(state_i[0]),
	.EN(un1_PRESETN_0_a2_Z),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  SLE \data_in[7]  (
	.Q(data_in[7]),
	.ADn(VCC),
	.ALn(AND2_0_Y_arst),
	.CLK(xclk_c),
	.D(VCC),
	.EN(N_27_i),
	.LAT(GND),
	.SD(GND),
	.SLn(VCC)
);
// @12:62
  CFG3 \state_ns[3]  (
	.A(state[3]),
	.B(done),
	.C(state[2]),
	.Y(state_ns[3])
);
defparam \state_ns[3] .INIT=8'hF2;
// @12:62
  CFG3 \state_ns[5]  (
	.A(state[5]),
	.B(done),
	.C(state[4]),
	.Y(state_ns[5])
);
defparam \state_ns[5] .INIT=8'hF2;
// @12:62
  CFG3 \state_ns_0_0[1]  (
	.A(state[1]),
	.B(state[0]),
	.C(done),
	.Y(state_ns[1])
);
defparam \state_ns_0_0[1] .INIT=8'hCE;
// @12:62
  CFG2 \data_in_RNO[7]  (
	.A(mid_pulse),
	.B(state[0]),
	.Y(N_27_i)
);
defparam \data_in_RNO[7] .INIT=4'h8;
// @12:62
  CFG2 \state_RNO[4]  (
	.A(done),
	.B(state[3]),
	.Y(N_36_i)
);
defparam \state_RNO[4] .INIT=4'h8;
// @12:63
  CFG4 un1_id_addr19_1_0_a2_0_a2_0_a2 (
	.A(state[5]),
	.B(state[3]),
	.C(state[1]),
	.D(mid_pulse),
	.Y(un1_id_addr19_1_0_a2_0_a2_0_a2_Z)
);
defparam un1_id_addr19_1_0_a2_0_a2_0_a2.INIT=16'h0100;
// @12:62
  CFG3 \state_RNO[2]  (
	.A(state[5]),
	.B(state[1]),
	.C(done),
	.Y(N_33_i)
);
defparam \state_RNO[2] .INIT=8'hE0;
// @12:63
  CFG2 un1_PRESETN_0_a2 (
	.A(un1_id_addr19_1_0_a2_0_a2_0_a2_Z),
	.B(AND2_0),
	.Y(un1_PRESETN_0_a2_Z)
);
defparam un1_PRESETN_0_a2.INIT=4'h8;
// @12:62
  CFG4 start_RNO (
	.A(state[5]),
	.B(state[3]),
	.C(state[1]),
	.D(done),
	.Y(N_32_i)
);
defparam start_RNO.INIT=16'h00FE;
// @12:25
  clock_divider_10000000s_100000s_49s_24s sccb_clk_0 (
	.sccb_clk_1z(sccb_clk),
	.xclk_c(xclk_c),
	.AND2_0_Y_arst(AND2_0_Y_arst),
	.mid_pulse_1z(mid_pulse)
);
// @12:32
  CoreSCCB coresccb_0 (
	.data_in_0(data_in[7]),
	.sub_addr_4(sub_addr[4]),
	.sub_addr_0(sub_addr[0]),
	.sub_addr_3(sub_addr[3]),
	.id_addr_0(id_addr[1]),
	.sioc_c(sioc_c),
	.sccb_clk(sccb_clk),
	.siod_1_i(siod_1_i),
	.rw(rw_Z),
	.start(start_Z),
	.done_1z(done),
	.bit_send_1z(bit_send),
	.mid_pulse(mid_pulse),
	.xclk_c(xclk_c),
	.AND2_0_Y_arst(AND2_0_Y_arst)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* config_sccb */

module sccb_design (
  DEVRST_N,
  cam_pwdn,
  cam_rstn,
  sioc,
  xclk,
  siod
)
;
input DEVRST_N ;
output cam_pwdn ;
output cam_rstn ;
output sioc ;
output xclk ;
output siod ;
wire DEVRST_N ;
wire cam_pwdn ;
wire cam_rstn ;
wire sioc ;
wire xclk ;
wire siod ;
wire FCCC_C0_0_LOCK ;
wire SYSRESET_0_POWER_ON_RESET_N ;
wire OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC ;
wire VCC ;
wire GND ;
wire AND2_0_Y_arst ;
wire AND2_0_Z ;
wire bit_send ;
wire sioc_c ;
wire xclk_c ;
wire \config_sccb_0.coresccb_0.siod_1_i  ;
  CLKINT AND2_0_RNIKOS1 (
	.Y(AND2_0_Y_arst),
	.A(AND2_0_Z)
);
// @13:28
  OUTBUF cam_pwdn_obuf (
	.PAD(cam_pwdn),
	.D(GND)
);
// @13:29
  OUTBUF cam_rstn_obuf (
	.PAD(cam_rstn),
	.D(VCC)
);
// @13:30
  OUTBUF sioc_obuf (
	.PAD(sioc),
	.D(sioc_c)
);
// @13:31
  OUTBUF xclk_obuf (
	.PAD(xclk),
	.D(xclk_c)
);
// @13:35
  TRIBUFF siod_obuft (
	.PAD(siod),
	.D(bit_send),
	.E(\config_sccb_0.coresccb_0.siod_1_i )
);
// @13:105
  SYSRESET SYSRESET_0 (
	.POWER_ON_RESET_N(SYSRESET_0_POWER_ON_RESET_N),
	.DEVRST_N(DEVRST_N)
);
// @13:68
  AND2 AND2_0 (
	.Y(AND2_0_Z),
	.A(FCCC_C0_0_LOCK),
	.B(SYSRESET_0_POWER_ON_RESET_N)
);
// @13:90
  FCCC_C0 FCCC_C0_0 (
	.xclk_c(xclk_c),
	.FCCC_C0_0_LOCK(FCCC_C0_0_LOCK),
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
// @13:99
  OSC_C0 OSC_C0_0 (
	.OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC(OSC_C0_0_RCOSC_25_50MHZ_CCC_OUT_RCOSC_25_50MHZ_CCC)
);
  config_sccb config_sccb_0 (
	.bit_send(bit_send),
	.siod_1_i(\config_sccb_0.coresccb_0.siod_1_i ),
	.sioc_c(sioc_c),
	.AND2_0(AND2_0_Z),
	.xclk_c(xclk_c),
	.AND2_0_Y_arst(AND2_0_Y_arst)
);
  GND GND_Z (
	.Y(GND)
);
  VCC VCC_Z (
	.Y(VCC)
);
endmodule /* sccb_design */

